@use "_global" as *;
@use "_mixin" as *;

.about {
  h1 {
    padding-top: 2.25em;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 2px;
  }
}
.profile {
  margin: auto;
  width: 95%;
  max-width: 1000px;
  border-radius: 1rem;
  p {
    color: var(--darkModeTxtClr);
    letter-spacing: 0.1rem;
    line-height: 1.5;
    font-size: 1em;
    margin-bottom: 25px;
  }
  span {
    font-family: "audiowide";
    letter-spacing: 0.1rem;
    font-size: 1.2em;
    color: var(--jsThemeClr);
    text-shadow: 0px 0px 3px var(--black);
  }
  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    //height: 300px;
    margin: auto;
    margin-bottom: 100px;
    .seals {
      margin: auto;
      width: 95%;
      max-width: 500px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 25px;
    }
    .seal {
      top: 70px;
      width: calc(4vw + 4rem);
      height: calc(4vw + 4rem);
      opacity: 0.9;
    }
    .seal1 {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      img {
        width: calc(5.5vw + 5.5rem);
      }
    }
    .seal2 {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      img {
        width: 100%;
      }
    }
    .logo-bar__img {
      margin: 25px auto;
      width: 95%;
      max-width: 500px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      bottom: 0.5rem;
      img {
        margin: 5px;
        max-width: 65px;
      }
    }
    .profileImg {
      opacity: 0.7;
      border-radius: 50%;
      overflow: hidden;
      width: 150px;
      height: 150px;
      .img {
        width: 100%;
        height: 100%;
        content: "";
        z-index: 2;
        background-image: url("img/personal/profile_img.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 0px 9px var(--darkModeTxtClr);
        background-size: contain;
        background-position: center;
      }
    }
    .profileImg2 {
      .img {
        scale: 1.5;
        background-image: url("img/personal/profile_img_2.jpg");
      }
    }
  }
  .pastBio {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 375px;
    margin: auto;
    p:first-child {
      text-align: center;

    }
    p {
      text-align: left;
    }
    span {
      color: red;
    }
  }
  .presentBio {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 95%;
    max-width: 400px;
    margin: auto;
  }
}

.contactModal {
  margin: auto;
  width: 85%;
  text-align: center;
  .contactBtn {
    padding: 0.5em 1em;
    font-family: "audiowide";
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--bgSecondary);
    border: none;
    border-radius: 1em;
  }
  .contactBtn:hover {
    color: white;
    background-color: var(--bgSecondary);
  }
}
@media screen and (min-width: 310px) {
}
@media screen and (min-width: 400px) {
  .profile {
    .pastBio,
    .presentBio {
      max-width: 340px;
    }
  }
}
@media screen and (min-width: 550px) {
  .profile {
    .pastBio,
    .presentBio {
      max-width: 400px;
    }
  }
}
@media screen and (min-width: 700px) {
  .profile {
    .avatar {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 700px;
      .seals {
        margin: auto;
        flex-direction: column;
        max-width: 100px;
      }
      .logo-bar__img {
        margin: auto;
        max-width: 100px;
        flex-direction: column;
      }
      .profileImg,
      .profileImg2 {
        margin: auto;
        width: 175px;
        height: 175px;
      }
    }
    .pastBio,
    .presentBio {
      max-width: 700px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .about {
    h1 {
      padding-top: 1em;
      font-size: 3em;
    }
  }
  .profile {
    .avatar {
      .profileImg {
        width: 200px;
        height: 200px;
      }
    }
    .pastBio,
    .presentBio {
      max-width: 1000px;
    }
  }
}
@media screen and (min-width: 1200px) {
}
