@use "_global" as *;
@use "_mixin" as *;
@use "_vision" as *;

.profile {
  span {
    font-family: "Audiowide";
    letter-spacing: 0.1rem;
    font-size: 1.2em;
    color: var(--txtChange);
    text-shadow: 0px 0px 3px var(--darkModeBg);
  }
  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2.5em auto;
    .seals {
      margin: auto;
      width: 95%;
      max-width: 500px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 25px;
    }
    .seal {
      top: 70px;
      width: calc(4vw + 4em);
      height: calc(4vw + 4em);
      opacity: 0.9;
    }
    .seal1 {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      img {
        width: 100%;
        transform: scale(1.6);
        //width: calc(5.5vw + 5.5rem);
      }
    }
    .seal2 {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--darkModeLgt);
      img {
        width: 100%;
        transform: scale(1.25);
        margin-top: 1px;
        margin-left: -3px;
      }
    }
    .logo-bar__img {
      margin: 25px auto;
      width: 95%;
      max-width: 200px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      bottom: 0.5rem;
      img {
        margin: 5px;
        max-width: 65px;
      }
    }
    .profileImg {
      opacity: 0.7;
      border-radius: 50%;
      overflow: hidden;
      width: 150px;
      height: 150px;
      .img {
        width: 100%;
        height: 100%;
        content: "";
        z-index: 2;
        background-image: url("img/personal/profile_img.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 0px 9px var(--darkModeTxtClr);
        background-size: contain;
        background-position: center;
      }
    }
    .profileImg2 {
      min-width: 150px;
      min-height: 150px;
      .img {
        scale: 1.5;
        background-image: url("img/personal/profile_img_2.jpg");
      }
    }
  }
  .pastBio,
  .presentBio {
  color: var(--darkModeTxtClr);
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 800px;
    padding: 1em;
    .lead {
      text-align: center;
      font-size: 1.2em;
    }
  }
  .pastBio {
    .bioBody {
      p:first-child {
        max-width: 800px;
        font-size: 1em;
        margin-bottom: 0.5em;
      }
      p {
        font-size: 0.8em;
        text-align: left;
        line-height: 1.4;
        letter-spacing: 1px;
      }
    }
    span {
      //color: red;
      text-shadow: none;
    }
  }
  .presentBio {
    //margin-top: 3em;
    text-align: center;
  }
}
.contact {
  &__header {
    h2 {
      padding-top: 2.25em;
      text-align: center;
      font-size: 1.5em;
      font-family: 'Audiowide';
      color: var(--txtChange);
      letter-spacing: 2px;
      text-shadow: 0px 0px 3px var(--darkModeBg);
    }
  }
}
.contactModal {
  margin: auto;
  width: 85%;
  text-align: center;
  .contactBtn {
    padding: 0.5em 1em;
    font-family: "audiowide";
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--bgSecondary);
    border: none;
    border-radius: 1em;
  }
  .contactBtn:hover {
    color: white;
    background-color: var(--bgSecondary);
  }
}
.mediaLink {
  margin: auto;
  width: 80%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  a{
    color: var(--txtChange);
    i {
      transform: scale(2);
      margin: 50px auto;
    }
  }
}
.location {
  margin: auto;
  width: 300px;
  text-align: center;
  a{
    color: var(--secondaryClr);
    i{
      margin-top: 40px;
      margin-bottom: 50px;
      transform: scale(3);
    }
  }
}
@media screen and (min-width: 310px) {
}
@media screen and (min-width: 400px) {
}
@media screen and (min-width: 550px) {
}
@media screen and (min-width: 700px) {
  
  .profile {
    .avatar {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 700px;
      .seals {
        margin: auto;
        flex-direction: column;
        max-width: 100px;
      }
      .logo-bar__img {
        margin: auto;
        flex-direction: column;
        img {
          max-width: 85px;
        }
      }
      .profileImg {
        margin: auto;
        width: 175px;
        height: 175px;
      }
      .profileImg2 {
        min-width: 175px;
        min-height: 175px;
      }
    }
  }
}
@media screen and (min-width: 1024px) {

  .profile {
    .avatar {
      .profileImg {
        width: 200px;
        height: 200px;
      }
      .profileImg2 {
        min-width: 200px;
        min-height: 200px;
      }
    }
  }
  .contact {
    &__header {
      h2 {
        padding-top: 1em;
        font-size: 3em;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
}
