@use "_global" as *;
@use "_mixin" as *;

.contact {
  .businessProfiles {
    margin: .5em auto;
    max-width: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .businessProfile {
      margin: auto;
      margin-bottom: 1em;
      padding: 1em;
      width: 75%;
      max-width: 350px;
      letter-spacing: 1px;
      background-color: var(--darkModeClrlgt);
      border-radius: .25em;
      color: var(--darkModeTxtClr);
      box-shadow: 0px 0px 3px var(--darkModeTxtClr);
      h2 {
        margin: .5em auto;
        width: 100%;
        letter-spacing: 1px;
        font-size: 1.15em;
        font-family: "Audiowide";
      }
      p {
        font-size: .8em;
      }
      a {
        display: block;
        padding-top: 1em;
        width: 100px;
        i {
          font-size: 50px;
        }
      }
    }
  }
}

.mediaLink {
  margin: auto;
  width: 80%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  a{
    color: var(--txtChange);
    i {
      margin: 50px auto;
      font-size: 2em;
    }
  }
}
.location {
  margin:1.5em auto;
  text-align: center;
  color: var(--darkModeTxtClr);
  line-height: 1.4;
}
@media screen and (min-width: 400px) {
  
}
@media screen and (min-width: 550px) {
  .contact {
    .businessProfiles {
      .businessProfile {
        font-size: .9em;
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .contact {
    .businessProfiles {
      flex-direction: row;
    }
    .mediaLink {
      a {
        i {
          font-size: 2.5em;
        }
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  .contact {
    .businessProfiles {
      max-width: 1000px;
      .businessProfile {
        max-width: 400px;
        font-size: .9em;
      }
    }
  }
}