@use "_global" as *;
@use "_mixin" as *;

.featureHeader {
  @include darkMode;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  padding: 1em;
  width: 80%;
  max-width: 650px;
  border-radius: 1rem;
  background-image: linear-gradient(to left top, var(--secondaryTxt), var(--secondaryClr));
  //border: 2px solid var(--jsThemeClr);
  //background-image: url("img/backgrounds/header_background_2.png");
  background-size: cover;
  background-color: var(--themeBlk);
  margin-bottom: 50px;
  .author {
    font-family: "The Nautigal";
    color: var(--white);
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 3px;
    //padding: .25em;
    text-shadow: 0px 0px 3px var(--black);
  }
  h2 {
    font-family: "audiowide", cursive;
    text-shadow: 0px 0px 5px var(--black);
    font-size: 1.8em;
    font-weight: 900;
    color: var(--secondaryTxt);
    letter-spacing: 4px;
  }
}
.quote {
  @include darkMode;
  width: 95%;
  max-width: 500px;
  margin: auto;
  padding: 1rem 1.5rem;
  text-align: center;
  //background-image: url("./img/backgrounds/clouds_72634.jpg");
  border-radius: 1rem;
  color: var(--black);
  margin-bottom: 100px;
  .author {
    margin: 1rem 0;
    color: var(--secondaryClr);
    font-size: 3rem;
    line-height: 1.5rem;
    font-weight: 900;
    font-family: "The Nautigal";
    //text-shadow: 0px 0px 3px var(--black);
  }
  p {
    font-size: 1.2rem;
    padding: .2rem;
    letter-spacing: 1px;
  }
}
.sectionHeader {
  text-align: center;
  color: var(--secondaryClr);
  font-size: 2em;
  margin-bottom: 1em;
}
.subHeader {
  margin: 1em auto;
  color: var(--secondaryClr);
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  //text-shadow: 0px 0px 3px var(--black);
  letter-spacing: 2px;
}
.chapter {
  margin-bottom: 5em;
  &__header {
    margin: auto;
    margin-bottom: 2em;
    width: 90%;
    max-width: 1000px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    &__title {
      h4 {
        text-align: center;
        width: 90%;
        max-width: 400px;
        color: var(--secondaryTxt);
        font-size: 1em;
        margin: auto;
        text-shadow: 0px 0px 3px var(--black);
      }
    }
    &__body {
      width: 90%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      .reportCard {
        @include darkMode;
        width: 275px;
        margin: auto;
        padding: 0.5rem;
        text-align: center;
        letter-spacing: 2px;
        //background-image: url("./img/backgrounds/clouds_72634.jpg");
        border-radius: 0.5rem;
        p {
          line-height: 1.4;
          font-family: "The Nautigal";
          font-size: 1.5em;
          color: var(--secondaryClr);
          font-weight: 900; 
        }
        p:nth-child(2) {
          color: Var(--black);
          font-size: 14px;
          font-family: "Roboto";
          
        }
      }
      .showBtn {
        display: flex;
        align-items: center;
      }
    }
  }
}

  button {
    margin: 15px auto;
    width: 50%;
    //max-width: 500px;
    background: none;
    border-radius: 1rem;
    @include darkMode;
    cursor: pointer;
    outline: none;
    border: none;
    display: block;
    //width: 100%;
    padding: 0.5rem 1rem;
    font-family: "Audiowide";
    font-size: 14px;
    font-weight: 600;
    color: var(--secondaryClr);
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.25rem;
    background-color: var(--secondaryTxt);
    border-radius: 1rem;
  }

.btn:hover {
  background-color: var(--secondaryClr);
  color: var(--secondaryTxt);
}
.idSpacer {
  content: "";
  height: 0.25em;
  //margin-top: 4em;
}

@media (min-width: 320px) {
}
@media (min-width: 400px) {
}
@media (min-width: 550px) {
}
@media (min-width: 700px) {
  .featureHeader{
    //padding: .5em;
    h2{
      font-size: 1.5em;
    }
  }
  .chapter {
    &__header {
      flex-direction: row;
      &__body {
        margin-left: auto;
      }
    }
  }
}
@media (min-width: 1024px) {
  .featureHeader{
    padding: .5em;
    h2{
      font-size: 1.3em;
    }
  }
}
@media (min-width: 1200px) {
  
}