@use "_global" as *;
@use "_mixin" as *;

.future {
  margin: auto;
  width: 90%;
  max-width: 800px;
  p {
    font-size: 1.25em;
    text-align: left;
    margin-right: 50px;
    letter-spacing: 0.1rem;
    font-family: "Audiowide";
    color: var(--secondaryClr);
    //text-shadow: 0px 0px 2px var(--white);
  }
  p:nth-last-child(1) {
    text-align: right;
  }
}
.hands {
  display: flex;
  margin: 1.5em auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.hand {
  img {
    width: 9.25em;
    height: 7.75em;
    //border: 1px solid var(--secondaryClr);
  }
  &__left {
    border-radius: 1em 0 0.5em 1em;
  }
  &__right {
    border-radius: 1em 0 0.5em 1em;
    transform: rotateY(180deg);
  }
}

#buildIt {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  h3 {
      padding: .5em;
    text-align: center;
  }
}

.ai,
.robotics {
  display: block;
  width: 300px;
  height: 400px;
  img {
    margin: auto;
    display: block;
    height: 100%;
  }
}
