@use "_global" as *;
@use "_mixin" as *;


.hands {
    display: flex;
    margin: auto;
    width: 80%;
}
.hand {
    img {
        width: 250px;
    }
    &__left {
        border-radius: 1em 0 .5em 1em;
    }
    &__right {
        border-radius: 1em 0 .5em 1em;
        transform: rotateY(180deg);
    }
}

.ai {
    img {
        width: 300px;
    }
}
.robotics {
    img {
        width: 300px;
    }
}