@use "_global" as *;
@use "_mixin" as *;

.hand {
    img {
        width: 300px;
    }
    &__right {
        transform: rotateX(180deg);
    }
}

.ai {
    img {
        width: 300px;
    }
}
.robotics {
    img {
        width: 300px;
    }
}