@use "_mixin" as *;

:root {
  // no change
  --primaryBg: #e3e3e3;
  --secondaryClr: purple;
  --secondaryTxt: #c0fff4;
  --txtChange: purple;

  --bgGradient: linear-gradient(
    to left top,
    var(--secondaryTxt),
    var(--secondaryClr)
  );

  --jsThemeClr: yellow;
  --htmlThemeClr: orangered;
  --cssThemeClr: blue;
  --sassThemeClr: pink;

  --themeTxtClr: rgb(255, 255, 0);
  --defaultThemeClr: rgb(54, 54, 54);

  --themeBg: rgb(255, 255, 0);
  --themeSec: black;
  --themeBlk: whitesmoke;
  --themeWht: black;

  --darkModeBg: rgb(250, 250, 250);
  --darkModeBtn: rgb(230, 230, 230, 0.4);
  --darkModeLgt: rgb(226, 226, 226);
  --darkModeTxtClr: rgb(54, 54, 54);
  --darkModeTxtlgt: #e3e3e3;

  --bgFilter: rgba(255, 255, 255, 0.3);
  --bgFilterBlk: rgba(0, 0, 0, 0.55);
  --bgFilterBlkDrk: rgba(0, 0, 0, 0.8);
  --bgFilterDrk: rgba(255, 255, 255, 0.8);

  --black: black;
  --white: white;

  --inputToggleThemeFilter: rgba(255, 255, 255, 0.2);
  --inputToggleTheme: #c7c7c7;
  --inputToggleTxt: rgb(54, 54, 54);

  --xsmSpacer: 0.25em;
  --smSpacer: 0.5em;
  --mdSpacer: 1em;
  --lgSpacer: 1.5em;
  --xlgSpacer: 2em;
  --xxlgSpacer: 3em;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./img/backgrounds/clouds_72634.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.darkModeFilter {
  background-color: var(--bgFilterBlk);
}

body[data-darkMode="darkMode"] {
  --darkModeBg: rgb(0, 0, 0); // from rgb(250, 250, 250)
  --darkModeBtn: rgba(189, 189, 189, 0.4);
  --darkModeLgt: rgb(134, 134, 134);

  --darkModeBgblk: rgb(0, 0, 0); // from
  --darkModeTxtClr: white; // from rgb(54, 54, 54)
  --darkModeClrlgt: rgb(54, 54, 54); // from
  --themeTxtClr: white; // from
  --themeBlk: rgb(99, 99, 99); // from whitesmoke
  --themeBg: black;
  --themeSec: yellow;
  --txtChange: #c0fff4;
}

body.transition,
body.transition *,
body.transition *:before,
body.transition *:after {
  transition: all 750ms;
}

h1 {
  padding-top: 0.25em;
  text-align: center;
  color: var(--txtChange);
  font-family: "The Nautigal";
  font-size: 3.75em;
  letter-spacing: 2px;
  text-shadow: 0px 0px 3px var(--darkModeBg);
}

hr {
  margin: auto;
  margin-bottom: 2em;
  width: 85%;
  height: 8px;
  background-color: var(--secondaryClr);
  border-radius: 5px;
  //box-shadow: 0px 0px 2px var(--black);
}

footer {
  margin: auto;
  padding: 1em;
  text-align: center;
  font-family: "audiowide", cursive;
  font-size: 0.65em;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: var(--darkModeBg);
  text-shadow: 0px 0px 2px var(--darkModeTxtClr);
  background-image: linear-gradient(to left top, #c0fff4, var(--secondaryClr));
}

footer span {
  color: red;
}

// Break Points

@media screen and (min-width: 310px) {
}

@media screen and (min-width: 400px) {
  body {
    font-size: 20px;
  }
}

@media screen and (min-width: 550px) {
  body {
    font-size: 24px;
  }
}

@media screen and (min-width: 700px) {
  body {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1200px) {
}
