@use "_global" as *;
@use "_mixin" as *;

.fccCourse {
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    .courseProject {
        width: 300px;
        color: var(--darkModeTxtClr);
        p {
            text-align: center;
            font-family: 'Audiowide';
            font-size: 1rem;;
        }
        a {
            img {
                width: 100%;
            }
        }
    }
}