@use "_global" as *;
@use "_mixin" as *;

.fccProjects {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  list-style: none;
  .listItem {
    display: none;
    margin: auto;
    width: 300px;
    height: 200px;
    padding: 0.25em;
    color: var(--secondaryTxt);
    background-image: linear-gradient(
      to left top,
      #c0fff4,
      var(--secondaryClr)
    );
    border: 2px solid black;
    p {
      text-align: center;
      font-family: "Audiowide";
      font-size: 1rem;
    }
    a {
      img {
        width: 100%;
      }
    }
  }
}
/* Style the Image Used to Trigger the Modal */
#certImg1 {
  display: block;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#certImg1:hover {
  opacity: 0.7;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: red;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.webDevelopment-list {
  margin: 2em auto;
  max-width: 700px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 15px;
  text-align: center;
  margin-bottom: 4em;
  .listItem {
    @include darkMode;
    margin: auto;
    height: 175px;
    width: 145px;
    color: var(--darkModeTxtClr);
    //background-color: var(--themeBlk);
    background-image: linear-gradient(
      to left top,
      var(--secondaryTxt),
      var(--secondaryClr)
    );
    //border: 1px solid var(--darkModeTxtClr);
    //box-shadow: 0px 0px 4px var(--black);
    letter-spacing: 2px;
    line-height: 1;
    border-radius: 1rem;
    .listItemInfo {
      width: 90%;
      margin: auto;
      //border-bottom: 4px solid red;
      h4 {
        text-align: center;
        font-size: 16px;
      }
      p {
        font-size: 14px;
        padding: none;
        padding-bottom: 3px;
      }
    }
    img {
      margin: 12px auto;
      height: 80px;
      width: 80px;
    }
  }
  &__html {
    .listItemInfo {
      border-bottom: 4px solid green;
    }
  }
  &__css {
    .listItemInfo {
      border-bottom: 4px solid green;
    }
  }
  &__sass {
    .listItemInfo {
      border-bottom: 4px solid green;
    }
  }
  &__tailwind {
    img {
      scale: 1.2;
    }
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__bootStrap {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__javaScript {
    .listItemInfo {
      border-bottom: 4px solid green;
    }
  }
  &__typeScript {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__git {
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__npm {
    img {
      scale: 1.2;
    }
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__jquery {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__mongo {
    img {
      scale: 1.1;
    }
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__express {
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__react {
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__node {
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__angular {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__vue {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__redux {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__next {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__python {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__php {
    img {
      scale: 1.4;
    }
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__sql {
    img {
      scale: 1.4;
    }
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__apache {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
}
.frontEndList .listItem {
  display: none;
}
.fullStackList .listItem {
  display: none;
}
.serverSideList .listItem {
  display: none;
}
.openWebDev {
  .listItem {
    opacity: 0;
    transform-origin: center;
  }
  @for $i from 1 through 20 {
    .listItem:nth-child(#{$i}) {
      animation: webDevAnim 300ms ease-in-out forwards;
      animation-delay: (150ms * $i) - 300ms;
    }
  }
}
.openWebDev.fccProjects .listItem {
  display: block;
}
.openWebDev.frontEndList .listItem {
  display: block;
}
.openWebDev.fullStackList .listItem {
  display: block;
}
.openWebDev.serverSideList .listItem {
  display: block;
}
@keyframes webDevAnim {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@media screen and (min-width: 310px) {
}

@media screen and (min-width: 400px) {
  .webDevelopment-list {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 50px;
    .listItem {
      width: 175px;
      height: 200px;
      img {
        height: 100px;
        width: 100px;
      }
    }
  }
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 1024px) {
  .webDevelopment-list {
    max-width: 900px;
  }
}

@media screen and (min-width: 1200px) {
}
