@use "_global" as *;
@use "_mixin" as *;

.tabletBox {
  width: 300px;
  margin: auto;
  border-radius: 1.5rem;
  .tablet {
    @include tablet;
    padding: 0.4rem;
    background-color: rgb(10, 10, 10);
    border-radius: 1.5rem;
    text-align: center;
    &__screen {
      margin: auto;
      margin-top: 10px;
      max-width: 280px;
      width: 95%;
      height: 380px;
      border-radius: 0.75rem;
      background-color: grey;
      //overflow: scroll;
      outline: 2px solid silver;
      outline-offset: 3px;
      -moz-outline-radius: 1rem;
    }
    &__speakers {
      width: 100%;
      display: flex;
      align-self: center;
      justify-content: space-between;
      padding: 0 1rem;
      //margin-bottom: 0.5rem;
      letter-spacing: 0.1rem;
      height: 13px;
      p {
        font-size: 10px;
        font-weight: 700;
        color: white;
      }
      .speaker {
        font-size: 12px;
        width: 65px;
        color: black;
        padding-top: 0.5rem;
        background-color: silver;
        border-radius: 4px 4px 13px 13px;
        line-height: 0.3;
      }
    }
    &__controls {
      margin: 10px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 12px;
        letter-spacing: 0.1rem;
        width: 125px;
        height: 35px;
        margin: 0px 25px;
        border-radius: 0.75rem 0.75rem 1.5rem 1.5rem;
        outline: none;
        @include tablet;
      }
      .tabletBtn {
        cursor: pointer;
      }
    }
  }
}

.constructionSlider {
  margin: auto;
  width: 272px;
  height: 380px;
  overflow: hidden;
  display: flex;
  background-color: var(--themeBlk);
  border-radius: 0.75rem;
  //z-index: 30;
  position: relative;
  .constructionSlide {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease-in-out;
    background-size: cover;
    opacity: 0;
    overflow: hidden;
    color: var(--darkModeTxtClr);
    border-radius: 0.75rem;
    .content {
      h4,
      h5 {
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: var(--black);
        text-shadow: 0px 0px 3px var(--white);
        letter-spacing: 1px;
      }
      h4 {
        top: 10px;
        font-size: 22px;
      }
      h5 {
        bottom: 10px;
        font-size: 18px;
      }
    }
  }
  .constructionSlide.current {
    opacity: 1;
  }
  .constructionSlide:first-child {
    background-image: url("img/construction/construction_1550_Before 0988.JPG");
    //background-color: blue;
  }
  .constructionSlide:nth-child(2) {
    background-image: url("img/construction/construction_1550_Before 0989.JPG");
  }
  .constructionSlide:nth-child(3) {
    background-image: url("img/construction/construction_1579.JPG");
  }
  .constructionSlide:nth-child(4) {
    background-image: url("img/construction/construction_1581.JPG");
  }
  .constructionSlide:nth-child(5) {
    background-image: url("img/construction/construction_1.JPG");
  }
  .constructionSlide:nth-child(6) {
    background-image: url("img/construction/construction_1581a.JPG");
  }
  .constructionSlide:nth-child(7) {
    background-image: url("img/construction/construction_3.JPG");
  }
  .constructionSlide:nth-child(8) {
    background-image: url("img/construction/construction_1055.JPG");
  }
  .constructionSlide:nth-child(9) {
    background-image: url("img/construction/construction_1056.JPG");
  }
  .constructionSlide:nth-child(10) {
    background-image: url("img/construction/construction_1084.JPG");
  }
  .constructionSlide:nth-child(11) {
    background-image: url("img/construction/construction_1089.JPG");
  }
  .constructionSlide:nth-child(12) {
    background-image: url("img/construction/construction_1090.JPG");
  }
  .constructionSlide:nth-child(13) {
    background-image: url("img/construction/construction_Bath Room - 001.jpg");
  }
  .constructionSlide:nth-child(14) {
    background-image: url("img/construction/construction_Bath Room - 003.jpg");
  }
}
.constructionSlider {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
.constructionSlider::-webkit-scrollbar {
  display: none;
}
#prevBtn,
#nextBtn {
  color: white;
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
}
#prevBtn {
  clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
}
#nextBtn {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
}
/*
.buttons {
  button.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: var(--themeTxtClr);
    border-radius: 50%;
  }
  button#prevBtn.btn {
    left: calc(0.5vw + 0.5rem);
    clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
  button#prevBtn.btn:hover {
    transform: scale(1.2);
  }
  button#nextBtn.btn {
    right: calc(0.5vw + 0.5rem);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
  }
  button#nextBtn.btn:hover {
    transform: scale(1.2);
  }
}
*/
