@use "_global" as *;
@use "_mixin" as *;

.darkMode {
  @include shadowSm-inset;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: left;
  padding: .15rem;
  top: 1.9rem;
  right: .25rem;
  width: 60px;
  height: 30px;
  background-color: var(--bgDarkMode);
  border-radius: 1.2rem;
  z-index: 10;
  .dmToggle {
    cursor: pointer;
    content: "";
    width: 22px;
    height: 22px;
    margin-left: 2px;
    border-radius: 50%;
    border: none;
    background-color: whitesmoke;
    background-image: url("img/icon/darkMode-icon.png");
    background-size: contain;
    background-position: center;
  }
}
.darkMode.showDarkMode{
  display: flex;
  animation: darkModeShow 750ms ease-in-out forwards;
}
.dmToggle.darkModeAnim{
  animation: dmAnim 500ms ease-in-out forwards;
}
.dmToggle.darkModeAnimRev{
  animation: dmAnimRev 500ms ease-in-out forwards;
}
@keyframes darkModeShow{
  0%{
    scale: 0;
    opacity: 0;
  }
  
  100%{
    scale: 1;
      opacity: 1;
  }
}
@keyframes dmAnim {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(30px);
  }
}
@keyframes dmAnimRev {
  0%{
    transform: translateX(30px);
  }
  100%{
    transform: translateX(0px);
  }
}

.navBtn {
  z-index: 6;
  position: fixed;
  cursor: pointer;
  &__menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: left;
    //cursor: pointer;
    top: 1.5em;
    left: .75em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    &__btn {
      width: 2.25em;
      height: .24em;
      border-radius: 25%;
      background-color: #C0FFF4;
      box-shadow: 0px 0px 2px var(--black);
    }
    &__btn::after,
    &__btn::before {
      content: "";
      position: absolute;
      width: 2.25em;
      height: .24em;
      border-radius: 25%;
      background-color: var(--secondaryClr);
      box-shadow: 0px 0px 2px var(--black);
      transition: all 0.5s ease-in-out;
    }
    &__btn::before {
      transform: translateY(-.45em);
    }
    &__btn::after {
      transform: translateY(.45em);
    }
  }
}
.siteNav {
  position: fixed;
  width: 100%;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
  z-index: 5;
  border: 2px solid var(--bgSecondary);
  background-color: var(--bgFilterDrk);
  max-width: 20em;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      border-right: 2px solid var(--bgSecondary);
      margin: 3px 0px;
      min-width: 5em;
      a {
        display: block;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.25rem;
        padding: 0px 5px;
        font-size: 0.5em;
        font-weight: 600;
        letter-spacing: 0.2em;
        text-decoration: none;
        text-align: center;
        text-shadow: 0px 0px 1px var(--white);
        color: var(--bgSecondary);
      }
      a:active {
        color: var(--black);
      }
      .activePage {
        color: var(--jsThemeClr);
        text-shadow: 0px 0px 2px var(--black);
        font-weight: 700;
        //background-color: var(--bgFilter);
      }
    }
    li:last-child {
      border-right: none;
    }
    li:hover a {
      color: var(--jsThemeClr);
      text-shadow: 0px 0px 2px var(--black);
      //background-color: var(--bgFilter);
    }
  }
}
.siteNav.showNav{
  animation: navBarShow 750ms linear both;
}
.pageNav{
  .pageNav-list {
    position: fixed;
    top: 80px;
    font-family: 'Audiowide';
    text-align: center;
    z-index: 3;
    .cHeader{
      display: none;
      margin-bottom: 15px;
      color: var(--txtChange);
      letter-spacing: .15em;
      font-weight: 900;
      //text-shadow: 0px 0px 3px var(--black);
    }
    .pageNav-listItem {
      margin-bottom: 7px;
      width: calc(7.5vw + 8rem);
      background: none;
      background-color: var(--bgPrimary);
      //border: 2px solid var(--black);
      border-radius: 1rem;
    }
    a {
      @include darkMode;
      display: block;
      width: 100%;
      padding: 0.4rem 0.5rem;
      font-family: "Audiowide";
      font-size: 14px;
      font-weight: 600;
      color: var(--bgSecondary);
      text-align: center;
      text-decoration: none;
      letter-spacing: 0.25rem;
      background-color: var(--bgFilterDrk);
      border-radius: 1rem;
      //text-shadow: 0px 0px 2px var(--white);
    }
    .pageNav-listItem:hover {
      background-color: var(--bgSecondary);
      color: white;
    }
    a:hover{
      color: var(--secondaryClr);
      box-shadow: none;
      font-weight: 900;
    }
    a:active {
      width: 100%;
      font-weight: 600;
      color: var(--black);
    }
  }
}
.pageNav-list .pageNav-listItem {
  display: none; // hide
}
.navBtn__menu.openNav .navBtn__menu__btn {
  background: transparent;
  box-shadow: none;
}
.navBtn__menu.openNav .navBtn__menu__btn::before {
  transform: rotate(45deg);
  background-color: orangered;
}
.navBtn__menu.openNav .navBtn__menu__btn::after {
  transform: rotate(-45deg);
  background-color: orangered;
}
.openNav.pageNav-list .pageNav-listItem,
.openNav.pageNav-list .cHeader{
  /* NEW CLASS FROM JS */
  display: block; // show
}
.openNav {
  .cHeader{
    opacity: 0;
    transform-origin: top center;
    animation: chapterH  1000ms ease-in-out forwards;
  }
  perspective: 1000px;
  .pageNav-listItem {
    opacity: 0;
    transform-origin: top left;
  }
  @for $i from 1 through 7 {
    .pageNav-listItem:nth-child(#{$i}) {
      animation: navBarAn 300ms ease-in forwards;
      animation-delay: (150ms * $i) - 300ms;
    }
  }
}
@keyframes chapterH {
  0%{
opacity: 0;
transform: translateY(-35px);
  }
  100%{
opacity: 1;
transform: translateY(0) ;
  }

}
@keyframes navBarAn {
  0% {
    opacity: 0;
    transform: rotate(30deg) translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0px);
  }
}
@keyframes navBarShow{
  0%{
    top: -40px;
    opacity: 0;
  }
  100%{
    top: 0px;
    opacity: 1;
  }
}

@media screen and (min-width: 310px) {
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1200px) {
}
