@use "_global" as *;
@use "_mixin" as *;

.webDevelopment {
  margin: auto;
  max-width: 800px;
  display: none;
  //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.webDevelopment.showPath {
  display: block;
}
.webDevelopment-list {
  margin: 1.5em auto;
  width: 95%;
  max-width: 800px;
  display: none;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  grid-gap: .7em;
  text-align: center;
  margin-bottom: 2em;
  .listItem {
    @include darkMode;
    display: none;
    margin: auto;
    width: 125px;
    height: 160px;
    padding: 0.25rem;
    background-color: var(--darkModeBtn);
    color: var(--secondaryClr);
    border-radius: 1rem;
    .listItemInfo {
      width: 100%;
      margin: auto;
      padding-bottom: 5px;
      letter-spacing: 1px;
      //border-radius: 50%;
      h4 {
        text-align: center;
        font-size: 16px;
      }
      p {
        line-height: 1.2;
        font-size: 14px;
        padding: 3px;
        margin-bottom: 5px;
      }
    }
    img {
      margin: 7px auto;
      height: 60px;
      width: 60px;
    }
  }
  &__html {
    .listItemInfo {
      border-bottom: 4px solid green;
    }
  }
  &__css {
    .listItemInfo {
      border-bottom: 4px solid green;
    }
  }
  &__sass {
    .listItemInfo {
      border-bottom: 4px solid green;
    }
  }
  &__tailwind {
    img {
      scale: 1.2;
    }
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__bootStrap {
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__javaScript {
    .listItemInfo {
      border-bottom: 4px solid green;
    }
  }
  &__typeScript {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__git {
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__npm {
    img {
      scale: 1.2;
    }
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__jquery {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__mongo {
    img {
      scale: 1.1;
    }
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__express {
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__react {
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__node {
    .listItemInfo {
      border-bottom: 4px solid yellow;
    }
  }
  &__angular {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__vue {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__redux {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__next {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__python {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__php {
    img {
      scale: 1.4;
    }
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__sql {
    img {
      scale: 1.4;
    }
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
  &__apache {
    .listItemInfo {
      border-bottom: 4px solid red;
    }
  }
}
.frontEndList .listItem {
  display: none;
}
.fullStackList .listItem {
  display: none;
}
.serverSideList .listItem {
  display: none;
}
.openWebDev {
  .listItem {
    opacity: 0;
    transform-origin: center;
  }
  @for $i from 1 through 20 {
    .listItem:nth-child(#{$i}) {
      animation: webDevAnim 300ms ease-in-out forwards;
      animation-delay: (150ms * $i) - 300ms;
    }
  }
}
.openWebDev.fccProjects .listItem {
  display: flex;
}

.openWebDev.frontEndList .listItem {
  display: block;
}
.openWebDev.fullStackList .listItem {
  display: block;
}
.openWebDev.serverSideList .listItem {
  display: block;
}
@keyframes webDevAnim {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@media screen and (min-width: 400px) {
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1200px) {
}
