@use "_global" as *;
@use "_mixin" as *;

.welcome {
  &__header {
    padding: 1em;
    line-height: 1.4;
    letter-spacing: 1px;
    color: var(--darkModeTxtClr);
    margin: auto;
    width: 95%;
    max-width: 800px;
    //font-size: 1em;
    span {
      font-size: 1.5em;
      color: var(--txtChange);
      font-family: "Audiowide";
      text-shadow: 0px 0px 3px var(--darkModeBg);
      font-weight: 900;
      letter-spacing: 2px;
    }
  }
}
.triple-container {
  background-image: linear-gradient(to left top, #c0fff4, var(--secondaryClr));
  border-top: 3px solid var(--secondaryTxt);
  border-bottom: 3px solid var(--secondaryClr);
  box-shadow: 0px 3px 3px rgb(70, 70, 70), 0px -3px 3px rgb(70, 70, 70);
}
.tripleMonitors {
  padding: var(--mdSpacer) 0em;
  max-width: 1000px;
  margin: auto;
  h2 {
    color: var(--white);
    padding: 1em;
    text-align: center;
    //font-family: "bedrock";
    font-size: 0.9em;
    letter-spacing: 1px;
    text-shadow: 0px 0px 3px var(--black);
  }
  span {
    font-size: 1.2em;
    font-family: "audiowide";
    letter-spacing: 3px;
    color: var(--secondaryTxt);
    text-shadow: 0px 0px 3px var(--black);
  }
  .imgs {
    margin: auto;
    padding: 2em;
    display: flex;
    //align-items: center;
    //justify-content: center;
    width: 95%;
    max-width: 850px;
    border-radius: 1.5rem;
    .img {
      perspective: 200px;
      min-width: 5em;
      min-height: 4em;
      img {
        width: 100%;
        height: 100%;
        opacity: 0.8;
        border: 2px solid black;
      }
    }
    .img1 {
      z-index: 1;
      img {
        perspective-origin: right;
        transform-origin: right;
        transform: rotateY(10deg);
        border-radius: 0.5rem 5px 5px 0.5rem;
        box-shadow: 0px -5px 5px var(--secondaryTxt),
          0px 5px 5px var(--secondaryTxt), -5px 0px 5px var(--secondaryTxt);
      }
    }
    .img2 {
      //width: calc(9vw + 9rem);
      img {
        perspective-origin: center;
        box-shadow: 0px -5px 5px var(--secondaryTxt),
          0px 5px 5px var(--secondaryTxt);
        border-radius: 5px;
      }
    }
    .img3 {
      z-index: 1;
      img {
        perspective-origin: left;
        transform-origin: left;
        transform: rotateY(-10deg);
        border-radius: 5px 0.5rem 0.5rem 5px;
        box-shadow: 0px -5px 5px var(--secondaryTxt),
          0px 5px 5px var(--secondaryTxt), 5px 0px 5px var(--secondaryTxt);
      }
    }
  }
}
.quote {
  margin: 3em auto;
  padding: 1em;
  width: 80%;
  max-width: 500px;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--darkModeTxtClr);
  text-align: center;
  background-color: var(--darkModeClrlgt);
  box-shadow: 0px 0px 3px var(--darkModeTxtClr);
  border-radius: 1rem;
  .author {
    margin: .5em 0;
    color: var(--txtChange);
    font-size: 2.3em;
    line-height: 0.5em;
    font-weight: 900;
    font-family: "The Nautigal";
    //text-shadow: 0px 0px 3px var(--black);
  }
  h2 {
    font-size: 1.85em;
  }
  p {
    font-size: 0.95em;
    font-weight: 600;
    padding: 0.2rem;
    letter-spacing: 2px;
  }
}

.youtubeIcon {
  margin: auto;
  margin-top: -1em;
  width: 5.5em;
  img {
    width: 100%;
  }
}
@media (min-width: 400px) {
  .quote {
    .author {
      font-size: 2.5em;
    }
  }
}

@media (min-width: 550px) {
}
@media (min-width: 680px) {
  .tripleMonitors {
    h2 {
      font-size: 1.1em;
      padding: 1.5em;
    }
    span {
      font-size: 1.75em;
    }
    .imgs {
      padding: 3em;
      .img {
        min-width: 5.5em;
        min-height: 4.25em;
      }
    }
  }
}
@media (min-width: 800px) {
  .quote {
    .author {
      font-size: 3em;
    }
  }
}
@media (min-width: 1000px) {
  .tripleMonitors {
    .imgs {
      .img {
        min-width: 8.25em;
        min-height: 6.75em;
      }
    }
  }
}
