@use "_global" as *;
@use "_mixin" as *;

.welcome {
  &__header {
    padding: 1em;
    line-height: 1.4;
    letter-spacing: 1px;
    //color: var(--darkModeTxtClr);
    margin: auto;
    width: 95%;
    max-width: 800px;
    font-size: 1em;
    span {
      font-size: 1.5em;
      color: var(--txtChange);
      font-family: "Audiowide";
      //text-shadow: 0px 0px 3px var(--black);
      font-weight: 900;
      letter-spacing: 2px;
    }
  }
}
.link-container {
  max-width: 1000px;
  //padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //color: var(--darkModeTxtClr);
  margin: 50px auto;
  p {
    padding: 1em;
    line-height: 1.4;
    letter-spacing: 1px;
    max-width: 650px;
    font-size: .9em;
    span {
      font-size: 1.5em;
      color: var(--txtChange);
      font-family: "Audiowide";
      //text-shadow: 0px 0px 3px var(--black);
      font-weight: 900;
      letter-spacing: 2px;
    }
  }
}
.links {
  width: 100%;
  //max-width: 1000px;
  margin: auto;
  a {
    text-decoration: none;
  }
}
.link {
  @include darkMode;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  letter-spacing: 1px;
  background-color: var(--bgFilterBlk);
  //background-image: linear-gradient(to left top, #c0fff4, var(--secondaryClr));
  border-radius: .5em;
  margin: 2em auto;
  z-index: 0;
  a {
    display: block;
    margin: auto;
    p {
      line-height: 1.4;
      color: var(--txtChange);
      //text-shadow: 0px 0px 3px var(--black);
      font-size: 18px;
      font-weight: 700;
    }
    img {
      width: 200px;
      height: 115px;
      border-radius: 0.5rem;
      margin-bottom: .75em;
    }
  }
}
.link:hover {
  //@include newHover;
  transform: scale(1.05);
  a {
    p {
      letter-spacing: 2px;
    }
  }
}
.triple-container {
  background-image: linear-gradient(to left top, #c0fff4, var(--secondaryClr));
  border-top: 3px solid var(--secondaryTxt);
  border-bottom: 3px solid var(--secondaryClr);
  box-shadow: 0px 3px 3px rgb(70, 70, 70), 0px -3px 3px rgb(70, 70, 70);
}
.tripleMonitors {
  padding: var(--mdSpacer) 0em;
  max-width: 1000px;
  margin: auto;
  h2 {
    color: var(--white);
    padding: 1em;
    text-align: center;
    //font-family: "bedrock";
    font-size: 0.9em;
    letter-spacing: 1px;
    text-shadow: 0px 0px 3px var(--black);
  }
  span {
    font-size: 1.2em;
    font-family: "audiowide";
    letter-spacing: 3px;
    color: var(--secondaryTxt);
    text-shadow: 0px 0px 3px var(--black);
  }
  .imgs {
    margin: auto;
    padding: 2em;
    display: flex;
    //align-items: center;
    //justify-content: center;
    width: 95%;
    max-width: 850px;
    border-radius: 1.5rem;
    .img {
      perspective: 200px;
      min-width: 5em;
      min-height: 4em;
      img {
        width: 100%;
        height: 100%;
        opacity: 0.8;
        border: 2px solid black;
      }
    }
    .img1 {
      z-index: 1;
      img {
        perspective-origin: right;
        transform-origin: right;
        transform: rotateY(10deg);
        border-radius: 0.5rem 5px 5px 0.5rem;
        box-shadow: 0px -5px 5px var(--secondaryTxt),
          0px 5px 5px var(--secondaryTxt), -5px 0px 5px var(--secondaryTxt);
      }
    }
    .img2 {
      //width: calc(9vw + 9rem);
      img {
        perspective-origin: center;
        box-shadow: 0px -5px 5px var(--secondaryTxt),
          0px 5px 5px var(--secondaryTxt);
        border-radius: 5px;
      }
    }
    .img3 {
      z-index: 1;
      img {
        perspective-origin: left;
        transform-origin: left;
        transform: rotateY(-10deg);
        border-radius: 5px 0.5rem 0.5rem 5px;
        box-shadow: 0px -5px 5px var(--secondaryTxt),
          0px 5px 5px var(--secondaryTxt), 5px 0px 5px var(--secondaryTxt);
      }
    }
  }
}

@media (min-width: 550px) {
    .tripleMonitors{
      h2{
        text-align: left;
      }
      h2:nth-last-child(1) {
        text-align: right;
      }
    }  
  }
  @media (min-width: 700px) {
    .tripleMonitors {
      h2 {
        font-size: 1.1em;
        padding: 1.5em;
      }
      span {
        font-size: 1.75em;
      }
      .imgs {
        padding: 3em;
        .img {
          min-width: 5.5em;
          min-height: 4.25em;
        }
      }
    }
  }
  @media (min-width: 1000px) {
    .tripleMonitors {
      .imgs {
        .img {
          min-width: 8.25em;
          min-height: 6.75em;
        }
      }
    }
    .link{
      margin-left: auto;
    }
    .link-container{
      flex-direction: row;
      justify-content: space-between;
    }
  }