@use "../../global" as *;
@use "../../mixin" as *;

#imgProductGallery{
  display: none;
}
#imgProductGallery.showProject {
  display: block;
}

.productSlider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .productFeatureImg {
    width: 100%;
    max-width: 400px;
    margin: auto;
    img {
      width: 100%;
      border-radius: 1rem;
      cursor: pointer;
    }
  }
}
#productContainer {
  width: 100px;
  padding: .5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #c9c9c9;
  border-radius: 1rem;
}
.productImgs {
  .productImg {
    max-width: 80px;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.4;
  }
}
.productImg:hover {
  opacity: 1;
}
.activeProduct {
  opacity: 1;
}
#btnL {
  background-color: var(--themeTxtClr);
  width: 30px;
  height: 30px;
  clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
  cursor: pointer;
  border-radius: 50%;
}
#btnR {
  background-color: var(--themeTxtClr);
  width: 30px;
  height: 30px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
  cursor: pointer;
  border-radius: 50%;
}