@use "../../global" as *;
@use "../../mixin" as *;

#imgSlider {
  display: none;
}
#imgSlider.showProject {
  display: block;
}

.imgSlider {
  margin-top: 2em;
  height: 500px;
  position: relative;
  .slide {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    height: 80%;
    max-height: 500px;
    transition: opacity 0.4s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    border-radius: 1rem;
    overflow: hidden;
    .content {
      position: absolute;
      background-color: var(--darkModeClrlgtOp);
      bottom: 0;
      bottom: -300px;
      width: 100%;
      opacity: 0;
      color: var(--darkModeTxtClr);
      padding: calc(0.5vw + 0.1rem);
      text-overflow: wrap;
      h2 {
        margin-bottom: 5px;
        font-size: 16px;
        letter-spacing: 3px;
      }
      p {
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
  }
  .slide.current {
    opacity: 1;
  }
  .slide.current .content {
    opacity: 1;
    transform: translateY(-300px);
    transition: all 0.7s ease-in-out 0.3s;
  }
  .slide:first-child {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img1-500px.jpg");
  }
  .slide:nth-child(2) {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img2-500px.jpg");
  }
  .slide:nth-child(3) {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img3-500px.jpg");
  }
  .slide:nth-child(4) {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img4-500px.jpg");
  }
  .slide:nth-child(5) {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img5-500px.jpg");
  }
  .slide:nth-child(6) {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img6-500px.jpg");
  }
  .slide:nth-child(7) {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img7-500px.jpg");
  }
}
.buttons {
  button.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: var(--themeTxtClr);
    border-radius: 50%;
  }
  button#prevBtn.btn {
    left: calc(0.5vw + 0.5rem);
    clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
  button#prevBtn.btn:hover {
    transform: scale(1.2);
  }
  button#nextBtn.btn {
    right: calc(0.5vw + 0.5rem);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
  }
  button#nextBtn.btn:hover {
    transform: scale(1.2);
  }
}
