@use "../../global" as *;
@use "../../mixin" as *;

#imgSlider {
  display: none;
}
#imgSlider.showProject {
  display: block;
}

.imgSlider-container {
  height: 600px;
  height: calc(22vw + 22em);
  position: relative;
  .slide {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 450px;
    height: 100%;
    height: calc(15vw + 15em);
    max-height: 500px;
    transition: opacity 0.4s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    border-radius: 1rem;
    overflow: hidden;
    .content {
      position: absolute;
      background-color: var(--bgFilterDrk);
      bottom: 0;
      bottom: -300px;
      width: 100%;
      opacity: 0;
      color: black;
      padding: calc(0.5vw + 0.1rem);
      text-overflow: wrap;
      p:first-child {
        //margin-bottom: 5px;
        font-size: 0.9em;
        font-weight: 600;
        letter-spacing: 2px;
      }
      p {
        font-size: 0.8em;
        letter-spacing: 1px;
      }
    }
  }
  .slide.current {
    opacity: 1;
  }
  .slide.current .content {
    opacity: 1;
    transform: translateY(-300px);
    transition: all 0.7s ease-in-out 0.3s;
  }
  .slide:first-child {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img1-500px.jpg");
  }
  .slide:nth-child(2) {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img2-500px.jpg");
  }
  .slide:nth-child(3) {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img3-500px.jpg");
  }
  .slide:nth-child(4) {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img4-500px.jpg");
  }
  .slide:nth-child(5) {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img5-500px.jpg");
  }
  .slide:nth-child(6) {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img6-500px.jpg");
  }
  .slide:nth-child(7) {
    background-image: url("img/Home Work Projects/Image Slider/Slider_img7-500px.jpg");
  }
}
.buttons {
  #prevBtn {
    cursor: pointer;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 1.5em;
    left: 20%;
    z-index: 2;
    .btn {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--toggleTheme);
      clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
    }
  }
  #nextBtn {
    cursor: pointer;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 1.5em;
    right: 20%;
    z-index: 2;
    .btn {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--toggleTheme);
      clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
    }
  }
}
@media (min-width: 500px) {
  .buttons {
    #prevBtn {
      left: 30%;
      bottom: 2.25em;
    }
    #nextBtn {
      right: 30%;
      bottom: 2.25em;
    }
  }
}
@media (min-width: 700px) {
  .imgSlider-container {
    height: calc(16.5vw + 16.5em);
  }
  .buttons {
    #prevBtn {
      left: 5%;
      bottom: 50%;
    }
    #nextBtn {
      right: 5%;
      bottom: 50%;
    }
  }
}
@media (min-width: 1000px) {
  .buttons {
    #prevBtn {
      width: 70px;
      height: 70px;
      left: 10%;
    }
    #nextBtn {
      width: 70px;
      height: 70px;
      right: 10%;
    }
  }
}
@media (min-width: 1200px) {
  .buttons {
    #prevBtn {
      left: 15%;
    }
    #nextBtn {
      right: 15%;
    }
  }
}
