:root {
  --primaryBg: #e3e3e3;
  --secondaryClr: purple;
  --secondaryTxt: #C0FFF4;
  --bgGradient: linear-gradient(to left top, var(--secondaryTxt), var(--secondaryClr));
  --jsThemeClr: yellow;
  --htmlThemeClr: orangered;
  --cssThemeClr: blue;
  --sassThemeClr: pink;
  --themeTxtClr: rgb(255, 255, 0);
  --defaultThemeClr: rgb(54, 54, 54);
  --themeBg: rgb(255, 255, 0);
  --themeSec: black;
  --themeBlk: whitesmoke;
  --themeWht: black;
  --darkModeBg: #e3e3e3;
  --darkModeTxtClr: rgb(54, 54, 54);
  --darkModeTxtlgt: #e3e3e3;
  --bgFilter: rgba(255, 255, 255, 0.2);
  --bgFilterBlk: rgba(0, 0, 0, 0.4);
  --bgFilterBlkDrk: rgba(0, 0, 0, 0.8);
  --bgFilterDrk: rgba(255, 255, 255, 0.8);
  --black: black;
  --white: white;
  --inputToggleThemeFilter: rgba(255, 255, 255, 0.2);
  --inputToggleTheme: #c7c7c7;
  --inputToggleTxt: rgb(54, 54, 54);
  --xsmSpacer: 0.25em;
  --smSpacer: .5em;
  --mdSpacer: 1em;
  --lgSpacer: 1.5em;
  --xlgSpacer: 2em;
  --xxlgSpacer: 3em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--darkModeBg);
}

body[data-darkMode=darkMode] {
  --darkModeBg: rgb(39, 39, 39);
  --darkModeBgblk: rgb(0, 0, 0);
  --darkModeTxtClr: white;
  --darkModeClrlgt: rgb(54, 54, 54);
  --themeTxtClr: white;
  --themeBlk: rgb(99, 99, 99);
  --themeBg: black;
  --themeSec: yellow;
}

body.transition,
body.transition *,
body.transition *:before,
body.transition *:after {
  transition: all 750ms;
}

h1,
h2,
h3 {
  font-family: "Audiowide";
}

hr {
  margin: auto;
  margin-bottom: 2em;
  width: 85%;
  height: 8px;
  background-color: var(--secondaryClr);
  border-radius: 5px;
}

footer {
  margin: auto;
  padding: 2em;
  text-align: center;
  font-family: "audiowide", cursive;
  font-size: 0.45em;
  letter-spacing: 0.2em;
  color: var(--darkModeTxtClr);
  background-color: var(--themeBlk);
}

footer span {
  color: red;
}

@media screen and (min-width: 400px) {
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 550px) {
  body {
    font-size: 24px;
  }
}
@media screen and (min-width: 700px) {
  body {
    font-size: 28px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 32px;
  }
}
.darkMode {
  box-shadow: inset -4px -4px 7px #fff, inset 4px 4px 7px rgba(0, 0, 0, 0.4);
  position: fixed;
  display: none;
  align-items: center;
  justify-content: left;
  padding: 0.15rem;
  top: 1.9rem;
  right: 0.25rem;
  width: 3.25rem;
  height: 2rem;
  background-color: var(--bgDarkMode);
  border-radius: 1.2rem;
  z-index: 10;
}
.darkMode .dmToggle {
  cursor: pointer;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  border: none;
  background-image: url("img/icon/darkMode-icon.png");
  background-size: contain;
  background-position: center;
}

.darkMode.showDarkMode {
  display: flex;
  -webkit-animation: darkModeShow 750ms ease-in-out forwards;
          animation: darkModeShow 750ms ease-in-out forwards;
}

.dmToggle.darkModeAnim {
  -webkit-animation: dmAnim 500ms ease-in-out forwards;
          animation: dmAnim 500ms ease-in-out forwards;
}

.dmToggle.darkModeAnimRev {
  -webkit-animation: dmAnimRev 500ms ease-in-out forwards;
          animation: dmAnimRev 500ms ease-in-out forwards;
}

@-webkit-keyframes darkModeShow {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes darkModeShow {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@-webkit-keyframes dmAnim {
  0% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(1.2rem);
  }
}
@keyframes dmAnim {
  0% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(1.2rem);
  }
}
@-webkit-keyframes dmAnimRev {
  0% {
    transform: translateX(1.2rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes dmAnimRev {
  0% {
    transform: translateX(1.2rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
.navBtn {
  z-index: 6;
  position: fixed;
  cursor: pointer;
}
.navBtn__menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: left;
  top: 1.5em;
  left: 0.75em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.navBtn__menu__btn {
  width: 1.2em;
  height: 0.14em;
  border-radius: 25%;
  background-color: #C0FFF4;
  box-shadow: 0px 0px 2px var(--black);
}
.navBtn__menu__btn::after, .navBtn__menu__btn::before {
  content: "";
  position: absolute;
  width: 1.2em;
  height: 0.14em;
  border-radius: 25%;
  background-color: var(--secondaryClr);
  box-shadow: 0px 0px 2px var(--black);
  transition: all 0.5s ease-in-out;
}
.navBtn__menu__btn::before {
  transform: translateY(-0.3em);
}
.navBtn__menu__btn::after {
  transform: translateY(0.3em);
}

.siteNav {
  position: fixed;
  width: 100%;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
  z-index: 5;
  border: 2px solid var(--bgSecondary);
  background-color: var(--bgFilterDrk);
  max-width: 20em;
}
.siteNav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.siteNav ul li {
  border-right: 2px solid var(--bgSecondary);
  margin: 3px 0px;
  min-width: 5em;
}
.siteNav ul li a {
  display: block;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
  padding: 0px 5px;
  font-size: 0.5em;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 0px 1px var(--white);
  color: var(--bgSecondary);
}
.siteNav ul li a:active {
  color: var(--black);
}
.siteNav ul li .activePage {
  color: var(--jsThemeClr);
  text-shadow: 0px 0px 2px var(--black);
  font-weight: 700;
}
.siteNav ul li:last-child {
  border-right: none;
}
.siteNav ul li:hover a {
  color: var(--jsThemeClr);
  text-shadow: 0px 0px 2px var(--black);
}

.siteNav.showNav {
  -webkit-animation: navBarShow 750ms linear both;
          animation: navBarShow 750ms linear both;
}

.pageNav .pageNav-list {
  position: fixed;
  top: 80px;
  font-family: "Audiowide";
  text-align: center;
  z-index: 3;
}
.pageNav .pageNav-list .cHeader {
  display: none;
  margin-bottom: 15px;
  color: orangered;
  letter-spacing: 0.15em;
  text-shadow: 0px 0px 3px var(--black);
}
.pageNav .pageNav-list .pageNav-listItem {
  margin-bottom: 7px;
  width: calc(7.5vw + 8rem);
  background: none;
  background-color: var(--bgPrimary);
  border-radius: 1rem;
}
.pageNav .pageNav-list a {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  display: block;
  width: 100%;
  padding: 0.4rem 0.5rem;
  font-family: "Audiowide";
  font-size: 14px;
  font-weight: 600;
  color: var(--bgSecondary);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.25rem;
  background-color: var(--bgFilterDrk);
  border-radius: 1rem;
}
.pageNav .pageNav-list .pageNav-listItem:hover {
  background-color: var(--bgSecondary);
  color: white;
}
.pageNav .pageNav-list a:hover {
  color: var(--white);
  box-shadow: none;
}
.pageNav .pageNav-list a:active {
  width: 100%;
  font-weight: 600;
  color: var(--black);
}

.pageNav-list .pageNav-listItem {
  display: none;
}

.navBtn__menu.openNav .navBtn__menu__btn {
  background: transparent;
  box-shadow: none;
}

.navBtn__menu.openNav .navBtn__menu__btn::before {
  transform: rotate(45deg);
  background-color: orangered;
}

.navBtn__menu.openNav .navBtn__menu__btn::after {
  transform: rotate(-45deg);
  background-color: orangered;
}

.openNav.pageNav-list .pageNav-listItem,
.openNav.pageNav-list .cHeader {
  /* NEW CLASS FROM JS */
  display: block;
}

.openNav {
  perspective: 1000px;
}
.openNav .cHeader {
  opacity: 0;
  transform-origin: top center;
  -webkit-animation: chapterH 1000ms ease-in-out forwards;
          animation: chapterH 1000ms ease-in-out forwards;
}
.openNav .pageNav-listItem {
  opacity: 0;
  transform-origin: top left;
}
.openNav .pageNav-listItem:nth-child(1) {
  -webkit-animation: navBarAn 300ms ease-in forwards;
          animation: navBarAn 300ms ease-in forwards;
  -webkit-animation-delay: -150ms;
          animation-delay: -150ms;
}
.openNav .pageNav-listItem:nth-child(2) {
  -webkit-animation: navBarAn 300ms ease-in forwards;
          animation: navBarAn 300ms ease-in forwards;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.openNav .pageNav-listItem:nth-child(3) {
  -webkit-animation: navBarAn 300ms ease-in forwards;
          animation: navBarAn 300ms ease-in forwards;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.openNav .pageNav-listItem:nth-child(4) {
  -webkit-animation: navBarAn 300ms ease-in forwards;
          animation: navBarAn 300ms ease-in forwards;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.openNav .pageNav-listItem:nth-child(5) {
  -webkit-animation: navBarAn 300ms ease-in forwards;
          animation: navBarAn 300ms ease-in forwards;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

@-webkit-keyframes chapterH {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes chapterH {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes navBarAn {
  0% {
    opacity: 0;
    transform: rotate(30deg) translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0px);
  }
}
@keyframes navBarAn {
  0% {
    opacity: 0;
    transform: rotate(30deg) translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0px);
  }
}
@-webkit-keyframes navBarShow {
  0% {
    top: -40px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes navBarShow {
  0% {
    top: -40px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
.landing__top {
  background-image: url("img/tech/landing-bg2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  z-index: 1;
  position: relative;
  height: 55vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
  margin-bottom: -7vw;
}
.landing__top h2 {
  position: absolute;
  bottom: calc(7vw - 1em);
  right: 4%;
  transform: rotate(-3.8deg);
  font-family: "Audiowide", cursive;
  font-size: 0.8em;
  color: #C0FFF4;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  letter-spacing: 0.15rem;
  text-shadow: 0px 0px 7px var(--black);
}
.landing__title {
  position: relative;
  height: calc(5vw + 5em);
  width: 100%;
  z-index: 0;
  background-image: linear-gradient(to left top, #C0FFF4, var(--secondaryClr));
  background-size: cover;
  background-position: top;
  background-color: var(--themeBlk);
  border-bottom: 3px solid var(--secondaryClr);
  box-shadow: 0px 3px 3px #464646;
}
.landing__title h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0.75em;
  font-weight: 900;
  color: var(--white);
  font-size: 1.2em;
  letter-spacing: 0.25em;
  text-shadow: 0px 0px 7px var(--black);
}

.greeting {
  width: 100%;
  padding: 2.5em 0;
  text-align: center;
  font-size: 1.25em;
  font-family: "Audiowide";
  color: #C0FFF4;
  text-shadow: 0px 0px 3px var(--black);
  letter-spacing: 2px;
}

@media screen and (min-width: 400px) {
  .landing__title {
    height: calc(4vw + 4em);
  }
}
@media screen and (min-width: 700px) {
  .landing__top {
    background-size: cover;
    background-position: center;
  }
  .landing__title h1 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1024px) {
  .landing__top {
    height: 38vw;
  }
  .landing__title h1 {
    font-size: 1.6em;
    bottom: 0.5em;
  }
}
.featureHeader {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  text-align: center;
  margin: auto;
  margin-top: 2em;
  padding: 1em;
  width: 80%;
  max-width: 650px;
  border-radius: 1rem;
  background-image: linear-gradient(to left top, var(--secondaryTxt), var(--secondaryClr));
  background-size: cover;
  background-color: var(--themeBlk);
  margin-bottom: 50px;
}
.featureHeader .author {
  font-family: "The Nautigal";
  color: var(--white);
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 3px;
  text-shadow: 0px 0px 3px var(--black);
}
.featureHeader h2 {
  font-family: "audiowide", cursive;
  text-shadow: 0px 0px 5px var(--black);
  font-size: 1.8em;
  font-weight: 900;
  color: var(--secondaryTxt);
  letter-spacing: 4px;
}

.quote {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  width: 95%;
  max-width: 500px;
  margin: auto;
  padding: 1rem 1.5rem;
  text-align: center;
  background-image: url("./img/backgrounds/clouds_72634.jpg");
  border-radius: 1rem;
  color: var(--black);
  margin-bottom: 100px;
}
.quote p:last-child {
  color: var(--secondaryClr);
  font-size: 2.5rem;
  line-height: 1.5rem;
  font-weight: 900;
  font-family: "The Nautigal";
}
.quote p {
  font-size: 1.2rem;
  padding: 0.2rem;
  letter-spacing: 1px;
}

.sectionHeader {
  text-align: center;
  color: var(--secondaryClr);
  font-size: 2em;
  margin-bottom: 1em;
}

.subHeader {
  margin: 1em auto;
  color: var(--secondaryClr);
  font-family: "Roboto";
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}

.chapter {
  margin-bottom: 5em;
}
.chapter__header {
  margin: auto;
  margin-bottom: 2em;
  width: 90%;
  max-width: 1000px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
}
.chapter__header__title h4 {
  text-align: center;
  width: 90%;
  max-width: 400px;
  color: var(--secondaryTxt);
  font-size: 1em;
  margin: auto;
  text-shadow: 0px 0px 3px var(--black);
}
.chapter__header__body {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.chapter__header__body .reportCard {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  width: 275px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  letter-spacing: 2px;
  background-image: url("./img/backgrounds/clouds_72634.jpg");
  border-radius: 0.5rem;
}
.chapter__header__body .reportCard p {
  line-height: 1.4;
  font-family: "The Nautigal";
  font-size: 1.5em;
  color: var(--secondaryClr);
  font-weight: 900;
}
.chapter__header__body .reportCard p:nth-child(2) {
  color: Var(--black);
  font-size: 14px;
  font-family: "Roboto";
}
.chapter__header__body .showBtn {
  display: flex;
  align-items: center;
}

.showBtn {
  margin: 15px auto;
  width: 50%;
  max-width: 500px;
  background: none;
  border-radius: 1rem;
}
.showBtn button {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  cursor: pointer;
  outline: none;
  border: none;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: "Audiowide";
  font-size: 14px;
  font-weight: 600;
  color: var(--secondaryClr);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.25rem;
  background-color: var(--secondaryTxt);
  border-radius: 1rem;
}

.btn:hover {
  background-color: var(--secondaryClr);
  color: var(--secondaryTxt);
}

.idSpacer {
  content: "";
  height: 0.25em;
}

@media (min-width: 700px) {
  .featureHeader h2 {
    font-size: 1.5em;
  }

  .chapter__header {
    flex-direction: row;
  }
  .chapter__header__body {
    margin-left: auto;
  }
}
@media (min-width: 1024px) {
  .featureHeader {
    padding: 0.5em;
  }
  .featureHeader h2 {
    font-size: 1.3em;
  }
}
.fccProjects {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  list-style: none;
}
.fccProjects .listItem {
  display: none;
  margin: auto;
  width: 300px;
  padding: 0.25em;
  color: var(--secondaryTxt);
  background-image: linear-gradient(to left top, #C0FFF4, var(--secondaryClr));
  border: 2px solid black;
}
.fccProjects .listItem p {
  text-align: center;
  font-family: "Audiowide";
  font-size: 1rem;
}
.fccProjects .listItem a img {
  width: 100%;
}

.webDevelopment-list {
  margin: 2em auto;
  max-width: 700px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 15px;
  text-align: center;
  margin-bottom: 4em;
}
.webDevelopment-list .listItem {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6), -4px -4px 7px white, 4px 4px 7px rgba(0, 0, 0, 0.4);
  margin: auto;
  height: 175px;
  width: 145px;
  color: var(--darkModeTxtClr);
  background-image: linear-gradient(to left top, var(--secondaryTxt), var(--secondaryClr));
  letter-spacing: 2px;
  line-height: 1;
  border-radius: 1rem;
}
.webDevelopment-list .listItem .listItemInfo {
  width: 90%;
  margin: auto;
}
.webDevelopment-list .listItem .listItemInfo h4 {
  text-align: center;
  font-size: 16px;
}
.webDevelopment-list .listItem .listItemInfo p {
  font-size: 14px;
  padding: none;
  padding-bottom: 3px;
}
.webDevelopment-list .listItem img {
  margin: 12px auto;
  height: 80px;
  width: 80px;
}
.webDevelopment-list__html .listItemInfo {
  border-bottom: 4px solid green;
}
.webDevelopment-list__css .listItemInfo {
  border-bottom: 4px solid green;
}
.webDevelopment-list__sass .listItemInfo {
  border-bottom: 4px solid green;
}
.webDevelopment-list__tailwind img {
  scale: 1.2;
}
.webDevelopment-list__tailwind .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__bootStrap .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__javaScript .listItemInfo {
  border-bottom: 4px solid green;
}
.webDevelopment-list__typeScript .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__git .listItemInfo {
  border-bottom: 4px solid yellow;
}
.webDevelopment-list__npm img {
  scale: 1.2;
}
.webDevelopment-list__npm .listItemInfo {
  border-bottom: 4px solid yellow;
}
.webDevelopment-list__jquery .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__mongo img {
  scale: 1.1;
}
.webDevelopment-list__mongo .listItemInfo {
  border-bottom: 4px solid yellow;
}
.webDevelopment-list__express .listItemInfo {
  border-bottom: 4px solid yellow;
}
.webDevelopment-list__react .listItemInfo {
  border-bottom: 4px solid yellow;
}
.webDevelopment-list__node .listItemInfo {
  border-bottom: 4px solid yellow;
}
.webDevelopment-list__angular .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__vue .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__redux .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__next .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__python .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__php img {
  scale: 1.4;
}
.webDevelopment-list__php .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__sql img {
  scale: 1.4;
}
.webDevelopment-list__sql .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__apache .listItemInfo {
  border-bottom: 4px solid red;
}

.frontEndList .listItem {
  display: none;
}

.fullStackList .listItem {
  display: none;
}

.serverSideList .listItem {
  display: none;
}

.openWebDev .listItem {
  opacity: 0;
  transform-origin: center;
}
.openWebDev .listItem:nth-child(1) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: -150ms;
          animation-delay: -150ms;
}
.openWebDev .listItem:nth-child(2) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.openWebDev .listItem:nth-child(3) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.openWebDev .listItem:nth-child(4) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.openWebDev .listItem:nth-child(5) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}
.openWebDev .listItem:nth-child(6) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.openWebDev .listItem:nth-child(7) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.openWebDev .listItem:nth-child(8) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.openWebDev .listItem:nth-child(9) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}
.openWebDev .listItem:nth-child(10) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.openWebDev .listItem:nth-child(11) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}
.openWebDev .listItem:nth-child(12) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.openWebDev .listItem:nth-child(13) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1650ms;
          animation-delay: 1650ms;
}
.openWebDev .listItem:nth-child(14) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}
.openWebDev .listItem:nth-child(15) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1950ms;
          animation-delay: 1950ms;
}
.openWebDev .listItem:nth-child(16) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}
.openWebDev .listItem:nth-child(17) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}
.openWebDev .listItem:nth-child(18) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}
.openWebDev .listItem:nth-child(19) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 2550ms;
          animation-delay: 2550ms;
}
.openWebDev .listItem:nth-child(20) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;
}

.openWebDev.fccProjects .listItem {
  display: block;
}

.openWebDev.frontEndList .listItem {
  display: block;
}

.openWebDev.fullStackList .listItem {
  display: block;
}

.openWebDev.serverSideList .listItem {
  display: block;
}

@-webkit-keyframes webDevAnim {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes webDevAnim {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@media screen and (min-width: 400px) {
  .webDevelopment-list {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 50px;
  }
  .webDevelopment-list .listItem {
    width: 175px;
    height: 200px;
  }
  .webDevelopment-list .listItem img {
    height: 100px;
    width: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .webDevelopment-list {
    max-width: 900px;
  }
}
.about {
  margin-bottom: 50px;
}
.about h1 {
  text-align: center;
  padding: 2em 0;
  letter-spacing: 2px;
  color: var(--darkModeTxtClr);
  font-size: 1.25em;
}

.profile {
  margin: auto;
  width: 95%;
  max-width: 1000px;
  border-radius: 1rem;
}
.profile p {
  color: var(--darkModeTxtClr);
  letter-spacing: 0.1rem;
  line-height: 1.5;
  font-size: 1em;
  margin-bottom: 25px;
}
.profile span {
  font-family: "audiowide";
  letter-spacing: 0.1rem;
  font-size: 1.2em;
  color: var(--jsThemeClr);
  text-shadow: 0px 0px 3px var(--black);
}
.profile .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
  margin-bottom: 100px;
}
.profile .avatar .seals {
  margin: auto;
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 25px;
}
.profile .avatar .seal {
  top: 70px;
  width: calc(4vw + 4rem);
  height: calc(4vw + 4rem);
  opacity: 0.9;
}
.profile .avatar .seal1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.profile .avatar .seal1 img {
  width: calc(5.5vw + 5.5rem);
}
.profile .avatar .seal2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.profile .avatar .seal2 img {
  width: 100%;
}
.profile .avatar .logo-bar__img {
  margin: 25px auto;
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0.5rem;
}
.profile .avatar .logo-bar__img img {
  margin: 5px;
  max-width: 65px;
}
.profile .avatar .profileImg {
  opacity: 0.7;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}
.profile .avatar .profileImg .img {
  width: 100%;
  height: 100%;
  content: "";
  z-index: 2;
  background-image: url("img/personal/profile_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 9px var(--darkModeTxtClr);
  background-size: contain;
  background-position: center;
}
.profile .avatar .profileImg2 .img {
  scale: 1.5;
  background-image: url("img/personal/profile_img_2.jpg");
}
.profile .pastBio {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
  max-width: 375px;
  margin: auto;
}
.profile .pastBio span {
  color: red;
}
.profile .presentBio {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
  max-width: 400px;
  margin: auto;
}

.constructionSlider {
  width: 100%;
  max-height: 550px;
  margin: auto;
  overflow: scroll;
  background-color: var(--themeBlk);
  border-radius: 0.75rem;
  z-index: 30;
}
.constructionSlider .slideContainer {
  margin: auto;
  width: 396px;
  height: 550px;
  color: var(--darkModeTxtClr);
  border-radius: 0.75rem;
}
.constructionSlider .slideContainer h1 {
  letter-spacing: 2px;
  padding: 0.5em 1em;
  font-size: 28px;
}
.constructionSlider .slideContainer h3 {
  margin: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--jsThemeClr);
  text-shadow: 0px 0px 3px var(--black);
}
.constructionSlider .slideContainer img {
  height: 450px;
  width: 100%;
}

.constructionSlider {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.constructionSlider::-webkit-scrollbar {
  display: none;
}

.contactModal {
  margin: auto;
  width: 85%;
  text-align: center;
}
.contactModal .contactBtn {
  padding: 0.5em 1em;
  font-family: "audiowide";
  font-size: 16px;
  letter-spacing: 2px;
  color: var(--bgSecondary);
  border: none;
  border-radius: 1em;
}
.contactModal .contactBtn:hover {
  color: white;
  background-color: var(--bgSecondary);
}

@media screen and (min-width: 400px) {
  .profile .pastBio, .profile .presentBio {
    max-width: 340px;
  }
}
@media screen and (min-width: 550px) {
  .profile .pastBio, .profile .presentBio {
    max-width: 400px;
  }
}
@media screen and (min-width: 700px) {
  .profile .avatar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
  }
  .profile .avatar .seals {
    margin: auto;
    flex-direction: column;
    max-width: 100px;
  }
  .profile .avatar .logo-bar__img {
    margin: auto;
    max-width: 100px;
    flex-direction: column;
  }
  .profile .avatar .profileImg, .profile .avatar .profileImg2 {
    margin: auto;
    width: 175px;
    height: 175px;
  }
  .profile .pastBio, .profile .presentBio {
    max-width: 700px;
  }
}
@media screen and (min-width: 1024px) {
  .profile .avatar .profileImg {
    width: 200px;
    height: 200px;
  }
  .profile .pastBio, .profile .presentBio {
    max-width: 1000px;
  }
}
.cardBox {
  position: relative;
  width: 95%;
  max-width: 850px;
  margin: 100px auto;
  transform-style: preserve-3d;
}
.cardBox p {
  font-size: 1.25em;
  text-align: left;
  margin-right: 50px;
  letter-spacing: 0.1rem;
  font-family: "Audiowide";
  color: var(--secondaryClr);
}
.cardBox p:nth-last-child(1) {
  text-align: right;
}
.cardBox .card {
  box-shadow: inset -4px -4px 7px #fff, inset 4px 4px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 250px;
  height: 150px;
  border-radius: 1rem;
  margin: 50px auto;
}
.cardBox .card__content {
  transform-style: preserve-3d;
  text-align: center;
  position: relative;
  transition: transform 2s;
}
.cardBox .card:hover .card__content {
  transform: rotateY(0.5turn);
}
.cardBox .card__back {
  transform: rotateY(0.5turn);
}
.cardBox .card__back,
.cardBox .card__front {
  transform-style: preserve-3d;
  position: absolute;
  margin: auto;
  background-image: url("img/tech/crop.php.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 250px;
  height: 150px;
  text-shadow: 0px 0px 7px var(--black);
}
.cardBox .card__front-title {
  padding: 0;
  color: var(--secondaryTxt);
  position: absolute;
  transform: translateZ(2.5em);
  top: 0.5em;
  left: 1em;
  letter-spacing: 2px;
  font-size: 22px;
}
.cardBox .card__subtitle {
  color: var(--secondaryTxt);
  padding: 0;
  transform: translateZ(2.5em);
  position: absolute;
  bottom: 0.5em;
  right: 0.75em;
  width: 100%;
  text-align: right;
  font-size: 32px;
}
.cardBox .card__back-title {
  position: absolute;
  color: var(--secondaryTxt);
  width: 100%;
  top: 1em;
  transform: translateZ(2.5em);
  font-size: 18px;
  line-height: 2;
}

.slideLeft {
  transform: translateX(1.5em);
}

.slideRight {
  transform: translateX(-1.5em);
}

.slideLeft,
.slideRight {
  transition: transform 500ms ease-in;
}

.slideLeft.slideTxt,
.slideRight.slideTxt {
  transform: translateX(0);
}

.visionSlider {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  overflow: hidden;
}

.visionSliderSection {
  background-color: blue;
  background-image: linear-gradient(to left top, var(--secondaryTxt), var(--secondaryClr));
  min-width: 100%;
  margin: 0 auto;
  padding: 0 0.5em;
}
.visionSliderSection__header {
  padding: 0.5em 0;
  font-size: 1.5em;
}

.displayTablets {
  max-width: 950px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin-bottom: 100px;
}

.tabletBox {
  width: 430px;
  margin: auto;
  border-radius: 1.5rem;
}
.tabletBox .tablet {
  box-shadow: inset -3px -3px 6px rgba(202, 202, 202, 0.6), inset 3px 3px 6px rgba(202, 202, 202, 0.6);
  padding: 0.4rem;
  background-color: #0a0a0a;
  border-radius: 1.5rem;
  text-align: center;
}
.tabletBox .tablet__screen {
  margin: auto;
  margin-top: 10px;
  max-width: 400px;
  width: 95%;
  height: 550px;
  border-radius: 0.75rem;
  background-color: grey;
  outline: 2px solid silver;
  outline-offset: 3px;
  -moz-outline-radius: 1rem;
}
.tabletBox .tablet__speakers {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 0 2rem;
  letter-spacing: 0.1rem;
}
.tabletBox .tablet__speakers p {
  font-size: 12px;
  color: white;
}
.tabletBox .tablet__speakers .speaker {
  font-size: 14px;
  width: 100px;
  color: black;
  padding-top: 0.5rem;
  background-color: silver;
  border-radius: 4px 4px 13px 13px;
  line-height: 0.3;
}
.tabletBox .tablet__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabletBox .tablet__controls a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.1rem;
  width: 125px;
  height: 35px;
  margin: 0px 50px;
  border-radius: 0.75rem 0.75rem 1.5rem 1.5rem;
  outline: none;
  box-shadow: inset -2px -2px 3px #fff, inset 2px 2px 3px rgba(0, 0, 0, 0.4);
}
.tabletBox .tablet__controls .fullScreen {
  cursor: pointer;
  box-shadow: inset -2px -2px 3px #fff, inset 2px 2px 3px rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.tabletBox .tablet__controls .fullTablet {
  cursor: pointer;
  box-shadow: inset -2px -2px 3px #fff, inset 2px 2px 3px rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.slider {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: scroll;
  background-color: var(--themeBlk);
  border-radius: 0.75rem;
  z-index: 30;
}
.slider .slideContainer {
  margin: 50px auto;
  width: 95%;
  max-width: 450px;
  color: var(--darkModeTxtClr);
  border-radius: 0.75rem;
}
.slider .slideContainer h1 {
  letter-spacing: 2px;
  padding: 0.5em 1em;
  font-size: 48px;
}
.slider .slideContainer h2 {
  margin: 10px;
  margin-bottom: 50px;
  font-size: 22px;
  letter-spacing: 1px;
  color: var(--jsThemeClr);
  text-shadow: 0px 0px 3px var(--black);
}
.slider .slideContainer h3 {
  margin: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--jsThemeClr);
  text-shadow: 0px 0px 3px var(--black);
}
.slider .slideContainer p {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-bottom: 15px;
}
.slider .slideContainer picture {
  margin-bottom: 10px;
}
.slider .slideContainer article {
  margin: auto;
  width: 80%;
}
.slider .solar {
  position: relative;
}
.slider .solar__img {
  position: relative;
  opacity: 0.8;
  display: block;
  margin: auto;
  width: 150px;
  height: 100px;
  background-image: url("img/tech_img/manny-becerra-NgdhrwAx0J8-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px var(--darkModeTxtClr);
  border-radius: 1rem;
}
.slider .solar__img h3 {
  position: absolute;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  letter-spacing: 0.15rem;
  font-size: 10px;
  color: var(--darkModeBg);
}
.slider .change__img {
  position: relative;
  height: 275px;
  margin: 25px auto;
}
.slider .change__img__2 {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  overflow: hidden;
  z-index: 1;
}
.slider .change__img__2 img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.slider .change__img__1 {
  position: absolute;
  width: 150px;
  left: 0px;
  border-radius: 1rem;
  overflow: hidden;
}
.slider .change__img__1 img {
  width: 100%;
  border-radius: 0.5rem;
}
.slider .change__img__3 {
  position: absolute;
  width: 150px;
  top: 120px;
  right: 0px;
  border-radius: 1rem;
  overflow: hidden;
}
.slider .change__img__3 img {
  width: 100%;
  border-radius: 0.5rem;
}
.slider .change__img h4 {
  font-size: 16px;
  margin: 5px auto;
}
.slider .rome {
  position: relative;
}
.slider .rome article {
  position: relative;
  background-image: url("img/tech_img/tech_img3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  margin: auto;
  width: 350px;
  height: 200px;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px var(--darkModeTxtClr);
  color: var(--white);
  z-index: 1;
}
.slider .rome p {
  margin: 15px;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  font-weight: 700;
}
.slider .rome p span {
  color: var(--jsThemeClr);
  text-shadow: 0px 0px 3px var(--black);
}
.slider .rome p:last-child {
  text-align: right;
}
.slider .rome .p1 {
  position: absolute;
  top: 10px;
  left: 70px;
}
.slider .rome .p2 {
  position: absolute;
  top: 85px;
  left: 5%;
}
.slider .rome h4 {
  position: absolute;
  width: 100%;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}
.slider .why article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider .why article p {
  line-height: 1.6;
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
}
.slider .why h2 {
  text-align: center;
}

.slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.slider::-webkit-scrollbar {
  display: none;
}

.displayPhones {
  max-width: 950px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin-bottom: 100px;
}

.phones {
  margin: 50px auto;
  max-width: 900px;
}
.phones .phone__samsung {
  box-shadow: inset -3px -3px 6px rgba(202, 202, 202, 0.6), inset 3px 3px 6px rgba(202, 202, 202, 0.6);
  margin: auto;
  border-radius: 1rem;
  padding: 1em 0;
  width: 275px;
  height: 475px;
  font-size: 12px;
  text-align: center;
  background-color: black;
}
.phones .phone__samsung img {
  padding: 0.25em;
  width: 95%;
  height: 90%;
  border-radius: 0.75rem;
  background-color: #464646;
}
.phones .phone__samsung .speakerBar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.phones .phone__samsung .controls {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
}

.desktop {
  margin-bottom: 100px;
}
.desktop__monitor {
  margin: auto;
  max-width: 950px;
  max-height: 675px;
  box-shadow: inset -3px -3px 6px rgba(202, 202, 202, 0.6), inset 3px 3px 6px rgba(202, 202, 202, 0.6);
  border-radius: 0.5rem;
  background-color: black;
  text-align: center;
}
.desktop__monitor img {
  padding: 0.75rem;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
.desktop__monitor p {
  padding: 0;
  padding-bottom: 0.5rem;
  font-size: 12px;
  margin-top: -10px;
  color: var(--white);
  letter-spacing: 1px;
}

@media (min-width: 400px) {
  .cardBox h1 {
    font-size: 2.5em;
  }
  .cardBox h2 {
    font-size: 2em;
  }
}
@media (min-width: 700px) {
  .cardBox .card__front-title {
    font-size: 28px;
    top: 1em;
    left: 1em;
  }
  .cardBox .card__subtitle {
    font-size: 40px;
  }
  .cardBox .card__back-title {
    top: 2em;
    font-size: 28px;
  }
  .cardBox .card {
    width: 350px;
    height: 225px;
  }
  .cardBox .card__back,
.cardBox .card__front {
    width: 350px;
    height: 225px;
  }
}
.welcome p {
  padding: 1em;
  line-height: 1.4;
  font-size: 0.8em;
  letter-spacing: 1px;
}
.welcome p span {
  font-size: 1.5em;
  color: #c0fff4;
  font-family: "Audiowide";
  text-shadow: 0px 0px 3px var(--black);
  font-weight: 900;
  letter-spacing: 2px;
}
.welcome__header {
  color: var(--darkModeTxtClr);
  margin: auto;
  width: 95%;
  max-width: 800px;
}

.link-container {
  max-width: 1200px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--darkModeTxtClr);
  margin: 50px auto;
}
.link-container p {
  max-width: 750px;
}

.links {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}
.links a {
  text-decoration: none;
}

.link {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6), -4px -4px 7px white, 4px 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  width: 200px;
  min-width: 200px;
  height: 175px;
  text-align: center;
  letter-spacing: 1px;
  background-image: linear-gradient(to left top, #c0fff4, var(--secondaryClr));
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 25px;
}
.link a {
  width: 100%;
  height: 100%;
}
.link a p {
  line-height: 1.4;
  color: var(--white);
  text-shadow: 0px 0px 3px var(--black);
  font-size: 18px;
}
.link a p:last-child {
  color: var(--darkModeTxtClr);
  text-shadow: none;
  font-size: 12px;
}
.link a img {
  width: 90%;
  border-radius: 0.5rem;
}

.link:hover {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6), -8px -8px 9px white, 8px 8px 9px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.triple-container {
  background-image: linear-gradient(to left top, #c0fff4, var(--secondaryClr));
  border-top: 3px solid var(--secondaryTxt);
  border-bottom: 3px solid var(--secondaryClr);
  box-shadow: 0px 3px 3px #464646, 0px -3px 3px #464646;
}

.tripleMonitors {
  padding: var(--mdSpacer) 0em;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 50px;
}
.tripleMonitors h2 {
  color: var(--white);
  padding: 1em;
  text-align: center;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-shadow: 0px 0px 3px var(--black);
}
.tripleMonitors span {
  font-size: 1.2em;
  font-family: "audiowide";
  letter-spacing: 3px;
  color: var(--secondaryTxt);
  text-shadow: 0px 0px 3px var(--black);
}
.tripleMonitors .imgs {
  margin: auto;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  max-width: 650px;
  border-radius: 1.5rem;
}
.tripleMonitors .imgs .img {
  perspective: 200px;
  min-width: 5em;
  min-height: 4em;
}
.tripleMonitors .imgs .img img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border: 3px solid var(--secondaryClr);
}
.tripleMonitors .imgs .img1 {
  z-index: 1;
}
.tripleMonitors .imgs .img1 img {
  perspective-origin: right;
  transform-origin: right;
  transform: rotateY(10deg);
  border-radius: 0.5rem 5px 5px 0.5rem;
  box-shadow: 0px -5px 5px var(--secondaryTxt), 0px 5px 5px var(--secondaryTxt), -5px 0px 5px var(--secondaryTxt);
}
.tripleMonitors .imgs .img2 img {
  perspective-origin: center;
  box-shadow: 0px -5px 5px var(--secondaryTxt), 0px 5px 5px var(--secondaryTxt);
  border-radius: 5px;
}
.tripleMonitors .imgs .img3 {
  z-index: 1;
}
.tripleMonitors .imgs .img3 img {
  perspective-origin: left;
  transform-origin: left;
  transform: rotateY(-10deg);
  border-radius: 5px 0.5rem 0.5rem 5px;
  box-shadow: 0px -5px 5px var(--secondaryTxt), 0px 5px 5px var(--secondaryTxt), 5px 0px 5px var(--secondaryTxt);
}

@media (min-width: 550px) {
  .tripleMonitors h2 {
    text-align: left;
  }
  .tripleMonitors h2:nth-last-child(1) {
    text-align: right;
  }
}
@media (min-width: 700px) {
  .link {
    margin: 0;
    margin-left: auto;
  }

  .link-container {
    flex-direction: row;
  }
}
.future {
  margin: auto;
  width: 90%;
  max-width: 800px;
}
.future p {
  font-size: 1.25em;
  text-align: left;
  margin-right: 50px;
  letter-spacing: 0.1rem;
  font-family: "Audiowide";
  color: var(--secondaryClr);
}
.future p:nth-last-child(1) {
  text-align: right;
}

.hands {
  display: flex;
  margin: 1.5em auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.hand img {
  width: 225px;
  height: 161px;
}
.hand__left {
  border-radius: 1em 0 0.5em 1em;
}
.hand__right {
  border-radius: 1em 0 0.5em 1em;
  transform: rotateY(180deg);
}

.ai img {
  width: 300px;
}

.robotics img {
  width: 300px;
}