:root {
  --primaryBg: #e3e3e3;
  --secondaryClr: purple;
  --secondaryTxt: #C0FFF4;
  --txtChange: purple;
  --bgGradient: linear-gradient(to left top, var(--secondaryTxt), var(--secondaryClr));
  --jsThemeClr: yellow;
  --htmlThemeClr: orangered;
  --cssThemeClr: blue;
  --sassThemeClr: pink;
  --themeTxtClr: rgb(255, 255, 0);
  --defaultThemeClr: rgb(54, 54, 54);
  --themeBg: rgb(255, 255, 0);
  --themeSec: black;
  --themeBlk: whitesmoke;
  --themeWht: black;
  --darkModeBg: #e3e3e3;
  --darkModeTxtClr: rgb(54, 54, 54);
  --darkModeTxtlgt: #e3e3e3;
  --bgFilter: rgba(255, 255, 255, 0.3);
  --bgFilterBlk: rgba(0, 0, 0, 0.3);
  --bgFilterBlkDrk: rgba(0, 0, 0, 0.8);
  --bgFilterDrk: rgba(255, 255, 255, 0.8);
  --black: black;
  --white: white;
  --inputToggleThemeFilter: rgba(255, 255, 255, 0.2);
  --inputToggleTheme: #c7c7c7;
  --inputToggleTxt: rgb(54, 54, 54);
  --xsmSpacer: 0.25em;
  --smSpacer: .5em;
  --mdSpacer: 1em;
  --lgSpacer: 1.5em;
  --xlgSpacer: 2em;
  --xxlgSpacer: 3em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./img/backgrounds/clouds_72634.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.darkModeFilter {
  background-color: var(--bgFilterBlk);
}

body[data-darkMode=darkMode] {
  --darkModeBg: rgb(39, 39, 39);
  --darkModeBgblk: rgb(0, 0, 0);
  --darkModeTxtClr: white;
  --darkModeClrlgt: rgb(54, 54, 54);
  --themeTxtClr: white;
  --themeBlk: rgb(99, 99, 99);
  --themeBg: black;
  --themeSec: yellow;
  --txtChange: #C0FFF4;
}

body.transition,
body.transition *,
body.transition *:before,
body.transition *:after {
  transition: all 750ms;
}

h1,
h2,
h3 {
  font-family: "Audiowide";
}

hr {
  margin: auto;
  margin-bottom: 2em;
  width: 85%;
  height: 8px;
  background-color: var(--secondaryClr);
  border-radius: 5px;
}

footer {
  margin: auto;
  padding: 2em;
  text-align: center;
  font-family: "audiowide", cursive;
  font-size: 0.45em;
  letter-spacing: 0.2em;
  color: var(--darkModeTxtClr);
  background-color: var(--themeBlk);
}

footer span {
  color: red;
}

@media screen and (min-width: 400px) {
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 550px) {
  body {
    font-size: 24px;
  }
}
.darkMode {
  box-shadow: inset -4px -4px 7px #fff, inset 4px 4px 7px rgba(0, 0, 0, 0.4);
  position: fixed;
  display: none;
  align-items: center;
  justify-content: left;
  padding: 0.15rem;
  top: 1.9rem;
  right: 0.25rem;
  width: 60px;
  height: 30px;
  background-color: var(--bgDarkMode);
  border-radius: 1.2rem;
  z-index: 10;
}
.darkMode .dmToggle {
  cursor: pointer;
  content: "";
  width: 22px;
  height: 22px;
  margin-left: 2px;
  border-radius: 50%;
  border: none;
  background-color: whitesmoke;
  background-image: url("img/icon/darkMode-icon.png");
  background-size: contain;
  background-position: center;
}

.darkMode.showDarkMode {
  display: flex;
  -webkit-animation: darkModeShow 750ms ease-in-out forwards;
          animation: darkModeShow 750ms ease-in-out forwards;
}

.dmToggle.darkModeAnim {
  -webkit-animation: dmAnim 500ms ease-in-out forwards;
          animation: dmAnim 500ms ease-in-out forwards;
}

.dmToggle.darkModeAnimRev {
  -webkit-animation: dmAnimRev 500ms ease-in-out forwards;
          animation: dmAnimRev 500ms ease-in-out forwards;
}

@-webkit-keyframes darkModeShow {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes darkModeShow {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@-webkit-keyframes dmAnim {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(30px);
  }
}
@keyframes dmAnim {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(30px);
  }
}
@-webkit-keyframes dmAnimRev {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes dmAnimRev {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
.navBtn {
  z-index: 6;
  position: fixed;
  cursor: pointer;
}
.navBtn__menu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: left;
  top: 1.5em;
  left: 0.75em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.navBtn__menu__btn {
  width: 2.25em;
  height: 0.24em;
  border-radius: 25%;
  background-color: #C0FFF4;
  box-shadow: 0px 0px 2px var(--black);
}
.navBtn__menu__btn::after, .navBtn__menu__btn::before {
  content: "";
  position: absolute;
  width: 2.25em;
  height: 0.24em;
  border-radius: 25%;
  background-color: var(--secondaryClr);
  box-shadow: 0px 0px 2px var(--black);
  transition: all 0.5s ease-in-out;
}
.navBtn__menu__btn::before {
  transform: translateY(-0.45em);
}
.navBtn__menu__btn::after {
  transform: translateY(0.45em);
}

.siteNav {
  position: fixed;
  width: 100%;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
  z-index: 5;
  border: 2px solid var(--bgSecondary);
  background-color: var(--bgFilterDrk);
  max-width: 20em;
}
.siteNav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.siteNav ul li {
  border-right: 2px solid var(--bgSecondary);
  margin: 3px 0px;
  min-width: 5em;
}
.siteNav ul li a {
  display: block;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
  padding: 0px 5px;
  font-size: 0.5em;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 0px 1px var(--white);
  color: var(--bgSecondary);
}
.siteNav ul li a:active {
  color: var(--black);
}
.siteNav ul li .activePage {
  color: var(--jsThemeClr);
  text-shadow: 0px 0px 2px var(--black);
  font-weight: 700;
}
.siteNav ul li:last-child {
  border-right: none;
}
.siteNav ul li:hover a {
  color: var(--jsThemeClr);
  text-shadow: 0px 0px 2px var(--black);
}

.siteNav.showNav {
  -webkit-animation: navBarShow 750ms linear both;
          animation: navBarShow 750ms linear both;
}

.pageNav .pageNav-list {
  position: fixed;
  top: 80px;
  font-family: "Audiowide";
  text-align: center;
  z-index: 3;
}
.pageNav .pageNav-list .cHeader {
  display: none;
  margin-bottom: 15px;
  color: var(--secondaryClr);
  letter-spacing: 0.15em;
  font-weight: 900;
}
.pageNav .pageNav-list .pageNav-listItem {
  margin-bottom: 7px;
  width: calc(7.5vw + 8rem);
  max-width: 200px;
  background: none;
  background-color: var(--bgPrimary);
  border-radius: 1rem;
}
.pageNav .pageNav-list a {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  display: block;
  width: 100%;
  padding: 0.4rem 0.5rem;
  font-family: "Audiowide";
  font-size: 14px;
  font-weight: 600;
  color: var(--bgSecondary);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.25rem;
  background-color: var(--bgFilterDrk);
  border-radius: 1rem;
}
.pageNav .pageNav-list .pageNav-listItem:hover {
  background-color: var(--bgSecondary);
  color: white;
}
.pageNav .pageNav-list a:hover {
  color: var(--secondaryClr);
  box-shadow: none;
  font-weight: 900;
}
.pageNav .pageNav-list a:active {
  width: 100%;
  font-weight: 600;
  color: var(--black);
}

.pageNav-list .pageNav-listItem {
  display: none;
}

.navBtn__menu.openNav .navBtn__menu__btn {
  background: transparent;
  box-shadow: none;
}

.navBtn__menu.openNav .navBtn__menu__btn::before {
  transform: rotate(45deg);
  background-color: orangered;
}

.navBtn__menu.openNav .navBtn__menu__btn::after {
  transform: rotate(-45deg);
  background-color: orangered;
}

.openNav.pageNav-list .pageNav-listItem,
.openNav.pageNav-list .cHeader {
  /* NEW CLASS FROM JS */
  display: block;
}

.openNav {
  perspective: 1000px;
}
.openNav .cHeader {
  opacity: 0;
  transform-origin: top center;
  -webkit-animation: chapterH 1000ms ease-in-out forwards;
          animation: chapterH 1000ms ease-in-out forwards;
}
.openNav .pageNav-listItem {
  opacity: 0;
  transform-origin: top left;
}
.openNav .pageNav-listItem:nth-child(1) {
  -webkit-animation: navBarAn 300ms ease-in forwards;
          animation: navBarAn 300ms ease-in forwards;
  -webkit-animation-delay: -150ms;
          animation-delay: -150ms;
}
.openNav .pageNav-listItem:nth-child(2) {
  -webkit-animation: navBarAn 300ms ease-in forwards;
          animation: navBarAn 300ms ease-in forwards;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.openNav .pageNav-listItem:nth-child(3) {
  -webkit-animation: navBarAn 300ms ease-in forwards;
          animation: navBarAn 300ms ease-in forwards;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.openNav .pageNav-listItem:nth-child(4) {
  -webkit-animation: navBarAn 300ms ease-in forwards;
          animation: navBarAn 300ms ease-in forwards;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.openNav .pageNav-listItem:nth-child(5) {
  -webkit-animation: navBarAn 300ms ease-in forwards;
          animation: navBarAn 300ms ease-in forwards;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}
.openNav .pageNav-listItem:nth-child(6) {
  -webkit-animation: navBarAn 300ms ease-in forwards;
          animation: navBarAn 300ms ease-in forwards;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.openNav .pageNav-listItem:nth-child(7) {
  -webkit-animation: navBarAn 300ms ease-in forwards;
          animation: navBarAn 300ms ease-in forwards;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

@-webkit-keyframes chapterH {
  0% {
    opacity: 0;
    transform: translateY(-35px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes chapterH {
  0% {
    opacity: 0;
    transform: translateY(-35px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes navBarAn {
  0% {
    opacity: 0;
    transform: rotate(30deg) translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0px);
  }
}
@keyframes navBarAn {
  0% {
    opacity: 0;
    transform: rotate(30deg) translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0px);
  }
}
@-webkit-keyframes navBarShow {
  0% {
    top: -40px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes navBarShow {
  0% {
    top: -40px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
.landing__top {
  background-image: url("img/tech/landing-bg2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  z-index: 1;
  position: relative;
  height: 55vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
  margin-bottom: -7vw;
}
.landing__top h2 {
  position: absolute;
  bottom: calc(7vw - 1em);
  right: 4%;
  transform: rotate(-3.8deg);
  font-family: "Audiowide", cursive;
  font-size: 0.8em;
  color: #C0FFF4;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  letter-spacing: 0.15rem;
  text-shadow: 0px 0px 7px var(--black);
}
.landing__title {
  position: relative;
  height: calc(5vw + 5em);
  width: 100%;
  z-index: 0;
  background-image: linear-gradient(to left top, #C0FFF4, var(--secondaryClr));
  background-size: cover;
  background-position: top;
  background-color: var(--themeBlk);
  border-bottom: 3px solid var(--secondaryClr);
  box-shadow: 0px 3px 3px #464646;
}
.landing__title h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0.75em;
  font-weight: 900;
  color: var(--white);
  font-size: 1.2em;
  letter-spacing: 0.25em;
  text-shadow: 0px 0px 7px var(--black);
}

.greeting {
  width: 100%;
  padding: 2.5em 0;
  text-align: center;
  font-size: 1.25em;
  font-family: "Audiowide";
  color: #C0FFF4;
  text-shadow: 0px 0px 3px var(--black);
  letter-spacing: 2px;
}

@media screen and (min-width: 400px) {
  .landing__title {
    height: calc(4vw + 4em);
  }
}
@media screen and (min-width: 700px) {
  .landing__top {
    background-size: cover;
    background-position: center;
  }
  .landing__title h1 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1024px) {
  .landing__top {
    height: 38vw;
  }
  .landing__title {
    height: calc(5vw + 5em);
  }
  .landing__title h1 {
    font-size: 2em;
    bottom: 0.5em;
  }

  .greeting {
    font-size: 2em;
  }
}
.featureHeader {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  text-align: center;
  margin: auto;
  margin-top: 2em;
  padding: 1em 0;
  width: 95%;
  max-width: 600px;
  border-radius: 1rem;
  background-image: linear-gradient(to left top, var(--secondaryTxt), var(--secondaryClr));
  background-size: cover;
  background-color: var(--themeBlk);
  margin-bottom: 50px;
}
.featureHeader .author {
  font-family: "The Nautigal";
  color: var(--white);
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 3px;
  text-shadow: 0px 0px 3px var(--black);
}
.featureHeader h2 {
  text-shadow: 0px 0px 5px var(--black);
  font-size: 1.75em;
  font-weight: 900;
  color: var(--secondaryTxt);
  letter-spacing: 4px;
}

.quote {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  width: 95%;
  max-width: 500px;
  margin: 3em auto;
  padding: 1rem 1.5rem;
  text-align: center;
  background-color: var(--bgFilterBlk);
  border-radius: 1rem;
  color: var(--black);
}
.quote .author {
  margin: 1rem 0;
  color: var(--secondaryClr);
  font-size: 2.5em;
  line-height: 0.5em;
  font-weight: 900;
  font-family: "The Nautigal";
}
.quote p {
  color: var(--darkModeTxtClr);
  font-size: 0.95em;
  font-weight: 600;
  padding: 0.2rem;
  letter-spacing: 2px;
}

.sectionHeader {
  text-align: center;
  font-size: 1.75em;
}

.subHeader {
  margin: 1em auto;
  color: var(--darkModeTxtClr);
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 2px;
}

.helpTip {
  font-size: 0.8em;
  text-align: center;
}

.chapter {
  margin-bottom: 5em;
}
.chapter__header {
  margin: auto;
  margin-bottom: 2em;
  max-width: 1000px;
  margin-bottom: 1em;
  text-align: center;
  letter-spacing: 2px;
}
.chapter__header__title {
  text-align: center;
  width: 100%;
  color: var(--darkModeTxtClr);
  font-size: 1em;
}

.reportCard {
  width: 90%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  letter-spacing: 2px;
  border-radius: 0.5rem;
}
.reportCard p {
  padding-bottom: 0.25em;
  line-height: 1.3;
}
.reportCard p:nth-child(1) {
  color: var(--secondaryClr);
  font-size: 2.75em;
  font-weight: 900;
  font-family: "The Nautigal";
}

.showBtn {
  display: flex;
  align-items: center;
}
.showBtn .btn {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  cursor: pointer;
  display: block;
  margin: auto;
  width: 90%;
  max-width: 600px;
  padding: 0.75em 0;
  font-size: 1em;
  font-weight: 600;
  font-family: "Lobster";
  color: var(--secondaryTxt);
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.25rem;
  background: none;
  background-color: var(--secondaryClr);
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

.btn:hover {
  background-color: var(--secondaryClr);
  color: var(--secondaryTxt);
}

.readMore {
  margin-bottom: 10em;
}

.showMore {
  display: block;
  margin: 1em auto;
  padding: 0.5em 1em;
  font-size: 0.8em;
  margin-bottom: 4em;
}

.showMoreSection {
  display: none;
}

.idSpacer {
  padding-top: 2em;
}

.filler {
  margin: auto;
  width: 80%;
  max-width: 800px;
}
.filler .lead {
  font-size: 1em;
  font-weight: 600;
}
.filler p {
  line-height: 1.4;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  font-size: 0.8em;
}

@media (min-width: 700px) {
  .chapter__header {
    flex-direction: row;
  }
  .chapter__header__body {
    margin-left: auto;
  }
}
@media (min-width: 1024px) {
  .sectionHeader {
    font-size: 2.25em;
  }
}
.fccProjects {
  margin: 1.5em auto;
  width: 90%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 1em;
  list-style: none;
}
.fccProjects .listItem {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  display: none;
  margin: auto;
  width: 175px;
  height: 150px;
  padding: 0.5em;
  color: var(--secondaryTxt);
  background-image: linear-gradient(to left top, #c0fff4, var(--secondaryClr));
  border-radius: 0.25em;
}
.fccProjects .listItem p {
  padding: 0.5em 0;
  text-align: center;
  font-family: "Audiowide";
  font-size: 0.9rem;
}
.fccProjects .listItem a img {
  width: 100%;
}

/* Style the Image Used to Trigger the Modal */
#certImg1 {
  display: block;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#certImg1:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: red;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
.webDevelopment-list {
  margin: 1.5em auto;
  width: 90%;
  max-width: 600px;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-gap: 15px;
  text-align: center;
  margin-bottom: 4em;
}
.webDevelopment-list .listItem {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  display: none;
  margin: auto;
  width: 175px;
  height: 175px;
  padding: 0.5em;
  color: var(--secondaryClr);
  border-radius: 0.25em;
}
.webDevelopment-list .listItem .listItemInfo {
  width: 100%;
  margin: auto;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.webDevelopment-list .listItem .listItemInfo h4 {
  text-align: center;
  font-size: 16px;
}
.webDevelopment-list .listItem .listItemInfo p {
  line-height: 1.3;
  font-size: 14px;
  padding: 3px;
}
.webDevelopment-list .listItem img {
  margin: 10px auto;
  height: 70px;
  width: 70px;
}
.webDevelopment-list__html .listItemInfo {
  border-bottom: 4px solid green;
}
.webDevelopment-list__css .listItemInfo {
  border-bottom: 4px solid green;
}
.webDevelopment-list__sass .listItemInfo {
  border-bottom: 4px solid green;
}
.webDevelopment-list__tailwind img {
  scale: 1.2;
}
.webDevelopment-list__tailwind .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__bootStrap .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__javaScript .listItemInfo {
  border-bottom: 4px solid green;
}
.webDevelopment-list__typeScript .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__git .listItemInfo {
  border-bottom: 4px solid yellow;
}
.webDevelopment-list__npm img {
  scale: 1.2;
}
.webDevelopment-list__npm .listItemInfo {
  border-bottom: 4px solid yellow;
}
.webDevelopment-list__jquery .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__mongo img {
  scale: 1.1;
}
.webDevelopment-list__mongo .listItemInfo {
  border-bottom: 4px solid yellow;
}
.webDevelopment-list__express .listItemInfo {
  border-bottom: 4px solid yellow;
}
.webDevelopment-list__react .listItemInfo {
  border-bottom: 4px solid yellow;
}
.webDevelopment-list__node .listItemInfo {
  border-bottom: 4px solid yellow;
}
.webDevelopment-list__angular .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__vue .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__redux .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__next .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__python .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__php img {
  scale: 1.4;
}
.webDevelopment-list__php .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__sql img {
  scale: 1.4;
}
.webDevelopment-list__sql .listItemInfo {
  border-bottom: 4px solid red;
}
.webDevelopment-list__apache .listItemInfo {
  border-bottom: 4px solid red;
}

.frontEndList .listItem {
  display: none;
}

.fullStackList .listItem {
  display: none;
}

.serverSideList .listItem {
  display: none;
}

.openWebDev .listItem {
  opacity: 0;
  transform-origin: center;
}
.openWebDev .listItem:nth-child(1) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: -150ms;
          animation-delay: -150ms;
}
.openWebDev .listItem:nth-child(2) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.openWebDev .listItem:nth-child(3) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.openWebDev .listItem:nth-child(4) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.openWebDev .listItem:nth-child(5) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}
.openWebDev .listItem:nth-child(6) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.openWebDev .listItem:nth-child(7) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.openWebDev .listItem:nth-child(8) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.openWebDev .listItem:nth-child(9) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}
.openWebDev .listItem:nth-child(10) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.openWebDev .listItem:nth-child(11) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}
.openWebDev .listItem:nth-child(12) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.openWebDev .listItem:nth-child(13) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1650ms;
          animation-delay: 1650ms;
}
.openWebDev .listItem:nth-child(14) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}
.openWebDev .listItem:nth-child(15) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 1950ms;
          animation-delay: 1950ms;
}
.openWebDev .listItem:nth-child(16) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}
.openWebDev .listItem:nth-child(17) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}
.openWebDev .listItem:nth-child(18) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}
.openWebDev .listItem:nth-child(19) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 2550ms;
          animation-delay: 2550ms;
}
.openWebDev .listItem:nth-child(20) {
  -webkit-animation: webDevAnim 300ms ease-in-out forwards;
          animation: webDevAnim 300ms ease-in-out forwards;
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;
}

.openWebDev.fccProjects .listItem {
  display: block;
}

.openWebDev.frontEndList .listItem {
  display: block;
}

.openWebDev.fullStackList .listItem {
  display: block;
}

.openWebDev.serverSideList .listItem {
  display: block;
}

@-webkit-keyframes webDevAnim {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes webDevAnim {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@media screen and (min-width: 400px) {
  /*
  .webDevelopment-list {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 50px;
    .listItem {
      width: 175px;
      height: 200px;
      img {
        height: 100px;
        width: 100px;
      }
    }
  }
  */
}
@media screen and (min-width: 1024px) {
  /*
  .webDevelopment-list {
    max-width: 900px;
  }
  */
}
.about h1 {
  padding-top: 2.25em;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.profile span {
  font-family: "audiowide";
  letter-spacing: 0.1rem;
  font-size: 1.2em;
  color: var(--jsThemeClr);
  text-shadow: 0px 0px 3px var(--black);
}
.profile .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 2.5em auto;
}
.profile .avatar .seals {
  margin: auto;
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 25px;
}
.profile .avatar .seal {
  top: 70px;
  width: calc(4vw + 4rem);
  height: calc(4vw + 4rem);
  opacity: 0.9;
}
.profile .avatar .seal1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.profile .avatar .seal1 img {
  width: calc(5.5vw + 5.5rem);
}
.profile .avatar .seal2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.profile .avatar .seal2 img {
  width: 100%;
}
.profile .avatar .logo-bar__img {
  margin: 25px auto;
  width: 95%;
  max-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 0.5rem;
}
.profile .avatar .logo-bar__img img {
  margin: 5px;
  max-width: 65px;
}
.profile .avatar .profileImg {
  opacity: 0.7;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}
.profile .avatar .profileImg .img {
  width: 100%;
  height: 100%;
  content: "";
  z-index: 2;
  background-image: url("img/personal/profile_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 9px var(--darkModeTxtClr);
  background-size: contain;
  background-position: center;
}
.profile .avatar .profileImg2 {
  min-width: 150px;
  min-height: 150px;
}
.profile .avatar .profileImg2 .img {
  scale: 1.5;
  background-image: url("img/personal/profile_img_2.jpg");
}
.profile .pastBio,
.profile .presentBio {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 800px;
  padding: 1em;
}
.profile .pastBio .lead,
.profile .presentBio .lead {
  text-align: center;
  font-size: 1.2em;
}
.profile .pastBio .bioBody p:first-child {
  max-width: 800px;
  font-size: 1em;
  margin-bottom: 0.5em;
}
.profile .pastBio .bioBody p {
  font-size: 0.8em;
  text-align: left;
  line-height: 1.4;
  letter-spacing: 1px;
}
.profile .pastBio span {
  color: red;
}
.profile .presentBio {
  text-align: center;
}

.contact__header h2 {
  padding-top: 2.25em;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.contactModal {
  margin: auto;
  width: 85%;
  text-align: center;
}
.contactModal .contactBtn {
  padding: 0.5em 1em;
  font-family: "audiowide";
  font-size: 16px;
  letter-spacing: 2px;
  color: var(--bgSecondary);
  border: none;
  border-radius: 1em;
}
.contactModal .contactBtn:hover {
  color: white;
  background-color: var(--bgSecondary);
}

@media screen and (min-width: 700px) {
  .profile .avatar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
  }
  .profile .avatar .seals {
    margin: auto;
    flex-direction: column;
    max-width: 100px;
  }
  .profile .avatar .logo-bar__img {
    margin: auto;
    flex-direction: column;
  }
  .profile .avatar .logo-bar__img img {
    max-width: 85px;
  }
  .profile .avatar .profileImg {
    margin: auto;
    width: 175px;
    height: 175px;
  }
  .profile .avatar .profileImg2 {
    min-width: 175px;
    min-height: 175px;
  }
}
@media screen and (min-width: 1024px) {
  .about h1 {
    padding-top: 1em;
    font-size: 3em;
  }

  .profile .avatar .profileImg {
    width: 200px;
    height: 200px;
  }
  .profile .avatar .profileImg2 {
    min-width: 200px;
    min-height: 200px;
  }

  .contact__header h2 {
    padding-top: 1em;
    font-size: 3em;
  }
}
.cardBox {
  position: relative;
  width: 95%;
  max-width: 850px;
  margin: 100px auto;
  transform-style: preserve-3d;
}
.cardBox p {
  font-size: 1.25em;
  margin-right: 50px;
  letter-spacing: 0.1rem;
  font-family: "Audiowide";
  color: var(--darkModeBlk);
}
.cardBox .card {
  box-shadow: inset -4px -4px 7px #fff, inset 4px 4px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 250px;
  height: 150px;
  border-radius: 1rem;
  margin: 50px auto;
}
.cardBox .card__content {
  transform-style: preserve-3d;
  text-align: center;
  position: relative;
  transition: transform 2s;
}
.cardBox .card:hover .card__content {
  transform: rotateY(0.5turn);
}
.cardBox .card__back {
  transform: rotateY(0.5turn);
}
.cardBox .card__back,
.cardBox .card__front {
  transform-style: preserve-3d;
  position: absolute;
  margin: auto;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 250px;
  height: 150px;
  text-shadow: 0px 0px 7px var(--black);
}
.cardBox .card__front-title {
  padding: 0;
  color: var(--secondaryTxt);
  position: absolute;
  transform: translateZ(2.5rem);
  top: 0.5rem;
  left: 1rem;
  letter-spacing: 2px;
  font-size: 22px;
}
.cardBox .card__subtitle {
  color: var(--secondaryTxt);
  padding-right: 10px;
  transform: translateZ(2.5rem);
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  text-align: right;
  font-size: 32px;
}
.cardBox .card__back-title {
  position: absolute;
  color: var(--secondaryTxt);
  width: 100%;
  top: 55px;
  padding: 10px;
  transform: translateZ(2.5rem);
  font-size: 18px;
  line-height: 1;
}

.slideLeft {
  transform: translateX(-1.5em);
}

.slideRight {
  text-align: right;
  transform: translateX(1.5em);
}

.slideLeft,
.slideRight {
  transition: transform 500ms ease-in;
}

.slideLeft.slideTxt,
.slideRight.slideTxt {
  transform: translateX(0);
}

.visionSlider {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  overflow: hidden;
}

.visionSliderSection {
  min-width: 100%;
  margin: auto;
  margin-top: 2em;
  padding: 0 0.5em;
}
.visionSliderSection__header {
  padding: 0.5em 0;
  font-size: 1.25em;
  font-family: "Audiowide";
  text-align: center;
}

.displayTablets {
  max-width: 950px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin-bottom: 100px;
  display: none;
}

.displayPhones {
  max-width: 950px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin-bottom: 100px;
  display: none;
}

.phones {
  margin: 50px auto;
  max-width: 900px;
}
.phones .phone__samsung {
  box-shadow: inset -3px -3px 6px rgba(202, 202, 202, 0.6), inset 3px 3px 6px rgba(202, 202, 202, 0.6);
  margin: auto;
  border-radius: 1rem;
  padding: 1em 0;
  width: 275px;
  height: 475px;
  font-size: 12px;
  text-align: center;
  background-color: black;
}
.phones .phone__samsung img {
  padding: 0.25em;
  width: 95%;
  height: 90%;
  border-radius: 0.75rem;
  background-color: #464646;
}
.phones .phone__samsung .speakerBar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.phones .phone__samsung .controls {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
}

.desktop {
  margin-bottom: 50px;
}
.desktop__monitor {
  margin: auto;
  max-width: 950px;
  max-height: 675px;
  box-shadow: inset -3px -3px 6px rgba(202, 202, 202, 0.6), inset 3px 3px 6px rgba(202, 202, 202, 0.6);
  border-radius: 0.5rem;
  background-color: black;
  text-align: center;
}
.desktop__monitor img {
  padding: 0.75rem;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
.desktop__monitor p {
  padding: 0;
  padding-bottom: 0.5rem;
  font-size: 12px;
  margin-top: -10px;
  color: var(--white);
  letter-spacing: 1px;
}

@media (min-width: 400px) {
  .cardBox h1 {
    font-size: 2.5em;
  }
  .cardBox h2 {
    font-size: 2em;
  }
}
@media (min-width: 700px) {
  .cardBox p {
    font-size: 1.75em;
  }
  .cardBox .card__front-title {
    font-size: 28px;
    top: 1em;
    left: 1em;
  }
  .cardBox .card__subtitle {
    font-size: 40px;
  }
  .cardBox .card__back-title {
    top: 4em;
    font-size: 28px;
  }
  .cardBox .card {
    width: 425px;
    height: 275px;
  }
  .cardBox .card__back,
.cardBox .card__front {
    width: 425px;
    height: 275px;
  }
}
.welcome__header {
  padding: 1em;
  line-height: 1.4;
  letter-spacing: 1px;
  margin: auto;
  width: 95%;
  max-width: 800px;
  font-size: 1em;
}
.welcome__header span {
  font-size: 1.5em;
  color: var(--txtChange);
  font-family: "Audiowide";
  font-weight: 900;
  letter-spacing: 2px;
}

.link-container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}
.link-container p {
  padding: 1em;
  line-height: 1.4;
  letter-spacing: 1px;
  max-width: 650px;
  font-size: 0.9em;
}
.link-container p span {
  font-size: 1.5em;
  color: var(--txtChange);
  font-family: "Audiowide";
  font-weight: 900;
  letter-spacing: 2px;
}

.links {
  width: 100%;
  margin: auto;
}
.links a {
  text-decoration: none;
}

.link {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  letter-spacing: 1px;
  background-color: var(--bgFilterBlk);
  border-radius: 0.5em;
  margin: 2em auto;
  z-index: 0;
}
.link a {
  display: block;
  margin: auto;
}
.link a p {
  line-height: 1.4;
  color: var(--txtChange);
  font-size: 18px;
  font-weight: 700;
}
.link a img {
  width: 200px;
  height: 115px;
  border-radius: 0.5rem;
  margin-bottom: 0.75em;
}

.link:hover {
  transform: scale(1.05);
}
.link:hover a p {
  letter-spacing: 2px;
}

.triple-container {
  background-image: linear-gradient(to left top, #c0fff4, var(--secondaryClr));
  border-top: 3px solid var(--secondaryTxt);
  border-bottom: 3px solid var(--secondaryClr);
  box-shadow: 0px 3px 3px #464646, 0px -3px 3px #464646;
}

.tripleMonitors {
  padding: var(--mdSpacer) 0em;
  max-width: 1000px;
  margin: auto;
}
.tripleMonitors h2 {
  color: var(--white);
  padding: 1em;
  text-align: center;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-shadow: 0px 0px 3px var(--black);
}
.tripleMonitors span {
  font-size: 1.2em;
  font-family: "audiowide";
  letter-spacing: 3px;
  color: var(--secondaryTxt);
  text-shadow: 0px 0px 3px var(--black);
}
.tripleMonitors .imgs {
  margin: auto;
  padding: 2em;
  display: flex;
  width: 95%;
  max-width: 850px;
  border-radius: 1.5rem;
}
.tripleMonitors .imgs .img {
  perspective: 200px;
  min-width: 5em;
  min-height: 4em;
}
.tripleMonitors .imgs .img img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border: 2px solid black;
}
.tripleMonitors .imgs .img1 {
  z-index: 1;
}
.tripleMonitors .imgs .img1 img {
  perspective-origin: right;
  transform-origin: right;
  transform: rotateY(10deg);
  border-radius: 0.5rem 5px 5px 0.5rem;
  box-shadow: 0px -5px 5px var(--secondaryTxt), 0px 5px 5px var(--secondaryTxt), -5px 0px 5px var(--secondaryTxt);
}
.tripleMonitors .imgs .img2 img {
  perspective-origin: center;
  box-shadow: 0px -5px 5px var(--secondaryTxt), 0px 5px 5px var(--secondaryTxt);
  border-radius: 5px;
}
.tripleMonitors .imgs .img3 {
  z-index: 1;
}
.tripleMonitors .imgs .img3 img {
  perspective-origin: left;
  transform-origin: left;
  transform: rotateY(-10deg);
  border-radius: 5px 0.5rem 0.5rem 5px;
  box-shadow: 0px -5px 5px var(--secondaryTxt), 0px 5px 5px var(--secondaryTxt), 5px 0px 5px var(--secondaryTxt);
}

@media (min-width: 550px) {
  .tripleMonitors h2 {
    text-align: left;
  }
  .tripleMonitors h2:nth-last-child(1) {
    text-align: right;
  }
}
@media (min-width: 700px) {
  .tripleMonitors h2 {
    font-size: 1.1em;
    padding: 1.5em;
  }
  .tripleMonitors span {
    font-size: 1.75em;
  }
  .tripleMonitors .imgs {
    padding: 3em;
  }
  .tripleMonitors .imgs .img {
    min-width: 5.5em;
    min-height: 4.25em;
  }
}
@media (min-width: 1000px) {
  .tripleMonitors .imgs .img {
    min-width: 8.25em;
    min-height: 6.75em;
  }

  .link {
    margin-left: auto;
  }

  .link-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.future {
  margin: auto;
  width: 90%;
  max-width: 800px;
}
.future p {
  font-size: 1.25em;
  text-align: left;
  margin-right: 50px;
  letter-spacing: 0.1rem;
  font-family: "Audiowide";
  color: var(--secondaryClr);
}
.future p:nth-last-child(1) {
  text-align: right;
}

.hands {
  display: flex;
  margin: 1.5em auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.hand img {
  width: 9.25em;
  height: 7.75em;
}
.hand__left {
  border-radius: 1em 0 0.5em 1em;
}
.hand__right {
  border-radius: 1em 0 0.5em 1em;
  transform: rotateY(180deg);
}

#buildIt {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#buildIt h3 {
  padding: 0.5em;
  text-align: center;
}

.ai,
.robotics {
  display: block;
  width: 300px;
  height: 400px;
}
.ai img,
.robotics img {
  margin: auto;
  display: block;
  height: 100%;
}

.tabletBox {
  width: 300px;
  margin: 1em auto;
  border-radius: 1.5rem;
}
.tabletBox .tablet {
  box-shadow: inset -3px -3px 6px rgba(202, 202, 202, 0.6), inset 3px 3px 6px rgba(202, 202, 202, 0.6);
  padding: 0.4rem;
  background-color: #0a0a0a;
  border-radius: 1.5rem;
  text-align: center;
}
.tabletBox .tablet__screen {
  margin: auto;
  margin-top: 10px;
  max-width: 280px;
  width: 95%;
  height: 400px;
  border-radius: 0.75rem;
  background-color: grey;
  outline: 2px solid silver;
  outline-offset: 3px;
  -moz-outline-radius: 1rem;
}
.tabletBox .tablet__speakers {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 0 1rem;
  letter-spacing: 0.1rem;
  height: 13px;
}
.tabletBox .tablet__speakers p {
  font-size: 10px;
  font-weight: 700;
  color: white;
}
.tabletBox .tablet__speakers .speaker {
  font-size: 12px;
  width: 65px;
  color: black;
  padding-top: 0.5rem;
  background-color: silver;
  border-radius: 4px 4px 13px 13px;
  line-height: 0.3;
}
.tabletBox .tablet__controls {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.constructionSlider {
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  background-color: var(--themeBlk);
  border-radius: 0.75rem;
  position: relative;
}
.constructionSlider .constructionSlide {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease-in-out;
  background-size: cover;
  opacity: 0;
  overflow: hidden;
  color: var(--darkModeTxtClr);
  border-radius: 0.75rem;
}
.constructionSlider .constructionSlide .content h4,
.constructionSlider .constructionSlide .content h5 {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--black);
  text-shadow: 0px 0px 3px var(--white);
  letter-spacing: 1px;
}
.constructionSlider .constructionSlide .content h4 {
  top: 10px;
  font-size: 22px;
}
.constructionSlider .constructionSlide .content h5 {
  bottom: 10px;
  font-size: 18px;
}
.constructionSlider .constructionSlide.current {
  opacity: 1;
}
.constructionSlider .constructionSlide:first-child {
  background-image: url("img/construction/construction_1550_Before 0988.JPG");
}
.constructionSlider .constructionSlide:nth-child(2) {
  background-image: url("img/construction/construction_1550_Before 0989.JPG");
}
.constructionSlider .constructionSlide:nth-child(3) {
  background-image: url("img/construction/construction_1579.JPG");
}
.constructionSlider .constructionSlide:nth-child(4) {
  background-image: url("img/construction/construction_1581.JPG");
}
.constructionSlider .constructionSlide:nth-child(5) {
  background-image: url("img/construction/construction_1.JPG");
}
.constructionSlider .constructionSlide:nth-child(6) {
  background-image: url("img/construction/construction_1581a.JPG");
}
.constructionSlider .constructionSlide:nth-child(7) {
  background-image: url("img/construction/construction_3.JPG");
}
.constructionSlider .constructionSlide:nth-child(8) {
  background-image: url("img/construction/construction_1055.JPG");
}
.constructionSlider .constructionSlide:nth-child(9) {
  background-image: url("img/construction/construction_1056.JPG");
}
.constructionSlider .constructionSlide:nth-child(10) {
  background-image: url("img/construction/construction_1084.JPG");
}
.constructionSlider .constructionSlide:nth-child(11) {
  background-image: url("img/construction/construction_1089.JPG");
}
.constructionSlider .constructionSlide:nth-child(12) {
  background-image: url("img/construction/construction_1090.JPG");
}
.constructionSlider .constructionSlide:nth-child(13) {
  background-image: url("img/construction/construction_Bath Room - 001.jpg");
}
.constructionSlider .constructionSlide:nth-child(14) {
  background-image: url("img/construction/construction_Bath Room - 003.jpg");
}

.constructionSlider {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.constructionSlider::-webkit-scrollbar {
  display: none;
}

.tabletBtn {
  cursor: pointer;
  content: "";
  color: white;
  width: 25px;
  height: 25px;
  background-color: white;
}

.prevBtn {
  -webkit-clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
          clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.nextBtn {
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 75% 50%, 50% 0);
}

.pwrBtn {
  box-shadow: inset -3px -3px 5px rgba(83, 83, 83, 0.6), inset 3px 3px 5px rgba(202, 202, 202, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  width: 130px;
  height: 35px;
  margin: 0px 20px;
  border-radius: 0.75rem 0.75rem 1.5rem 1.5rem;
  outline: none;
}

@media (min-width: 700px) {
  .tabletBox {
    width: 430px;
  }
  .tabletBox .tablet {
    padding: 0.4rem;
  }
  .tabletBox .tablet__screen {
    margin-top: 15px;
    max-width: 415px;
    width: 95%;
    height: 500px;
  }
  .tabletBox .tablet__speakers {
    padding: 0 1.25rem;
    letter-spacing: 0.1rem;
    height: 17px;
  }
  .tabletBox .tablet__speakers p {
    font-size: 12px;
  }
  .tabletBox .tablet__speakers .speaker {
    font-size: 14px;
    width: 85px;
    padding-top: 0.65rem;
  }
  .tabletBox .tablet__controls {
    margin: 15px auto;
  }
  .tabletBox .tablet__controls a {
    font-size: 12px;
    letter-spacing: 0.1rem;
    width: 175px;
    height: 40px;
    margin: 0px 35px;
  }

  .tabletBtn {
    width: 30px;
    height: 30px;
  }

  .pwrBtn {
    width: 150px;
    font-size: 12px;
  }

  .constructionSlider {
    width: 100%;
    height: 500px;
  }
}