@use "../../global" as *;
@use "../../mixin" as *;

#btn {
  display: none;
}
#btn.showProject {
  display: block;
}

// One Button Click Events
.btns {

  background-color: var(--inputToggleTheme);
}
.oneBtn {
  position: relative;
  cursor: pointer;
  width: 100%;
  border: none;
  
  margin-bottom: 250px;
  .motto {
    @include darkMode;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    p {
      padding: 3.25rem 1rem 1rem 1rem;
      letter-spacing: 0.1rem;
      font-size: 14px;
      span {
        color: green;
        font-size: 20px;
        font-weight: 700;
      }
    }
    div {
      font-size: 14px;
      color: red;
      font-weight: 600;
      span {
        color: green;
      }
      span:last-child {
        color: orange;
      }
    }
  }
}
.btnReg {
  .btnDiv {
          background-color: var(--inputToggleTheme);
    
    margin-bottom: 75px;
    .messageBox {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 15px;
      margin-bottom: 20px;
      .activeButton {
        display: none;
        p {
          width: 100%;
          text-align: center;
          padding: 0.25rem;
        }
        ul {
          list-style: none;
          padding-bottom: 0.25rem;
          li {
            text-align: center;
            font-family: "montserrat";
            font-size: calc(0.5vw + 0.4rem);
          }
        }
      }
    }
    .btn-cont {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
      gap: .5em;
      .btn-box {
        margin: .5em auto;
        max-width: 130px;
        .btnProject-btn {
          @include shadowSm;
          cursor: pointer;
          height: 100%;
          width: 100%;
          border: none;
          outline: none;
          padding: .5em 1em;
          font-size: 1em;
          font-weight: 600;
          background-color: var(--inputToggleTheme);
          letter-spacing: 0.1rem;
        }
        .active {
          @include shadowSm-inset;
          border: none;
        }
      }
      
      .btn-box:hover {
        outline: 2px solid var(--toggleTheme);
      }
      .btn-rndCorner {
        border-radius: 1rem;
      }

      .btn-caution {
        color: yellow;
      }
      .btn-danger {
        color: orangered;
      }
      .btn-active {
        opacity: 0.7;
      }
    }
    // Round Button Override Style
    .btn-cont.Rnd-btn {
      text-align: center;
      .btn-smRnd {
        min-width: 25px;
        height: 25px;
        border-radius: 50%;
      }
      .btn-lgRnd {
        min-width: 75px;
        height: 75px;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (min-width: 310px) {
}
@media screen and (min-width: 400px) {
}
@media screen and (min-width: 481px) {
}
@media screen and (min-width: 715px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}
