@use "../../global" as *;
@use "../../mixin" as *;

#burgerSection {
  display: none;
}
#burgerSection.showProject {
  display: block;
}

.burgerMenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  .card-container {
    border-radius: 1rem;
    .menuCard {
      margin: 1em auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 1em 0.5em;
      width: 80%;
      max-width: 250px;
      min-height: 180px;
      //box-shadow: 0px 0px 3px var(--darkModeTxtClr);
      .menuHeader {
        font-size: 1em;
        font-weight: 600;
        text-align: center;
      }
      #menu1-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: none;
        z-index: 2;
        .line {
          transition: all 0.5s ease-in-out;
          width: 70px;
          height: 6px;
          background-color: var(--inputToggleTxt);
          border-radius: 1rem;
        }
        .lineTop {
          transform: translateY(-5px);
        }
        .lineBottom {
          transform: translateY(5px);
        }
      }
      #menu1-btn.menu1-open .lineCenter {
        background: transparent;
        box-shadow: none;
      }
      #menu1-btn.menu1-open .lineTop {
        transform: translateY(5px) rotate(45deg);
        background-color: red;
      }
      #menu1-btn.menu1-open .lineBottom {
        transform: translateY(-5px) rotate(-45deg);
        background-color: red;
      }

      #menu2-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: none;
        z-index: 2;
        .line {
          position: relative;
          width: 70px;
          height: 6px;
          background-color: var(--toggleTheme);
          border-radius: 1rem;
          transition: all 0.5s ease-in-out;
        box-shadow: 0px 0px 2px black;
        }
        .line::before,
        .line::after {
          position: absolute;
          display: block;
          content: "";
          width: 70px;
          height: 6px;
          background-color: var(--inputToggleTxt);
          border-radius: 1rem;
          transition: all 0.5s ease-in-out;
        }
        .line::before {
          transform: translateY(-12px);
        }
        .line::after {
          transform: translateY(12px);
        }
      }
      #menu2-btn.menu2-open .line {
        background: transparent;
        box-shadow: none;
      }
      #menu2-btn.menu2-open .line::before {
        transform: translateY(5px) rotate(45deg);
        background-color: var(--toggleTheme);
      }
      #menu2-btn.menu2-open .line::after {
        transform: translateY(5px) rotate(-45deg);
        background-color: var(--toggleTheme);
      }

      #menu3-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: none;
        z-index: 2;
        .line {
          background-color: var(--inputToggleTxt);
          margin-left: -13px;
          border-radius: 1rem;
        }
        .lineTop {
          width: 60px;
          height: 5px;
          transform: translateY(-6px);
        }
        .lineCenter {
          width: 70px;
          height: 6px;
        }
        .lineBottom {
          width: 80px;
          height: 8px;
          transform: translateY(7px);
        }
        
      }
      #menu4-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: transparent;
        z-index: 2;
        box-shadow: none;
        .line {
          margin-left: -13px;
          width: 70px;
          height: 6px;
          background-color: var(--inputToggleTxt);
        }
        .lineTop {
          border-radius: 1em;
          transform: translateY(4px);
        }
        .lineTop:before {
          display: block;
          content: "";
          width: 70px;
          height: 15px;
          border-radius: 50% 50% 0 0 ;
          background-color: var(--toggleTheme);
          transform: translateY(-21px);
        box-shadow: 0px 0px 2px black;

        }
        .lineBottom {
          border-radius: 1em;
          transform: translateY(-4px);
        }
        .lineBottom:after {
          display: block;
          content: "";
          width: 70px;
          height: 6px;
          border-radius: 0 0 .5em .5em;
          background-color: var(--toggleTheme);
          transform: translateY(13px);
        box-shadow: 0px 0px 2px black;

        }
      }
      #menu5-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: none;
        z-index: 2;
        .line {
          margin-left: -13px;
          width: 70px;
          height: 6px;
          background-color: var(--inputToggleTxt);
        }
        .lineTop {
          transform: translateY(-4px);
        }
        .lineTop::before {
          display: block;
          content: "";
          height: 15px;
          border-radius: 50% 50% 0 0 ;
          background-color: var(--toggleTheme);
          transform: translateY(-15px);
        box-shadow: 0px 0px 2px black;
        }
        .lineBottom {
          transform: translateY(4px);
        }
        .lineBottom::after {
          display: block;
          content: "";
          width: 70px;
          height: 6px;
          border-radius: 0 0 .5em .5em;
          background-color: var(--toggleTheme);
          transform: translateY(6px);
        box-shadow: 0px 0px 2px black;

        }
      }
    }
  }
}
