@use "../../global" as *;
@use "../../mixin" as *;

#toggleButton {
  display: none;
}
#toggleButton.showProject {
  display: block;
}
.toggleButton {
  .toggleSummary {
    padding: 0.5em;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    //background-color: var(--toggleTheme);
    border-radius: 1em;
  }
  .toggleBtns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
  .toggle-container {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin: 0.25em auto;
    h4 {
      letter-spacing: 1px;
      font-size: 16px;
      color: var(--inputToggleTxt);
      padding: 0.5em;
      text-align: center;
      //text-shadow: 0px 0px 2px var(--darkModeTxtClr)
    }
    .btn-container {
      @include shadowSm-inset;
      content: "";
      display: flex;
      align-items: center;
      justify-content: left;
      width: 120px;
      height: 60px;
      margin: auto;
      border-radius: 60px;
      margin-bottom: 25px;
      .toggle {
        cursor: pointer;
        margin-left: 7px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 2px black;
        border: none;
        outline: none;
        img {
          width: 100%;
        }
      }
    }
  }
}
#defaultIcon {
  //color: var(--defaultThemeClr);
  width: 42px;
  margin-top: 3px;
  text-align: center;
  font-size: 12px;
  font-family: "Audiowide";
  letter-spacing: 1px;
}
#htmlIcon {
  width: 40px;
  margin-top: 3px;
  color: var(--htmlThemeClr);
  text-align: center;
  font-size: 12px;
  font-family: "Audiowide";
  text-shadow: 0px 0px 2px var(--black);
  letter-spacing: 2px;
}
#cssIcon {
  width: 40px;
  margin-top: 3px;
  color: var(--cssThemeClr);
  text-align: center;
  font-size: 12px;
  font-family: "Audiowide";
  text-shadow: 0px 0px 2px var(--black);
  letter-spacing: 2px;
}
#sassIcon {
  width: 40px;
  margin-bottom: 2px;
  color: var(--sassThemeClr);
  text-align: center;
  font-size: 12px;
  font-family: "Audiowide";
  text-shadow: 0px 0px 2px var(--black);
  letter-spacing: 2px;
}
#jsIcon {
  width: 35px;
  margin-top: 8px;
  color: var(--jsThemeClr);
  text-align: center;
  font-size: 12px;
  font-family: "Audiowide";
  text-shadow: 0px 0px 2px var(--black);
  letter-spacing: 2px;
}
// Toggle Animations
.toggle.toggleAnim {
  animation: tglAnimFwd 400ms linear both;
}
.toggle.toggleAnimRev {
  animation: tglAnimRev 400ms linear both;
}
@keyframes tglAnimFwd {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(55px);
  }
}
@keyframes tglAnimRev {
  0% {
    transform: translateX(55px);
  }
  100% {
    transform: translateX(0px);
  }
}
@media screen and (min-width: 481px) {
  #buttonProject {
    .projectBox {
      padding: .5em;
    }
  }
}
@media (min-width: 750px) {
  .toggleButton {
    .toggleBtns {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
    .toggle-container {
      width: 150px;
      .btn-container {
        width: 150px;
        height: 70px;
        .toggle {
          margin-left: 5px;
          width: 60px;
          height: 60px;
        }
      }
    }
  }
  #htmlIcon, #cssIcon, #sassIcon, #jsIcon {
    width: 44px;
  }
  #defaultIcon {
    width: 50px;
  }
  @keyframes tglAnimFwd {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(78px);
    }
  }
  @keyframes tglAnimRev {
    0% {
      transform: translateX(78px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
