.operator {
    color: red;
    font-weight: 600;
}
.keyword {
    color: blue;
    font-weight: 600;
}
.variable {
    color: darkblue;
    font-weight: 600;
}
.number {
    color: purple;
    font-weight: 600;
}
.string {
    color: rgb(255, 123, 0);
    font-weight: 600;
}
.attribute {
    color: green;
    font-weight: 600;
}
.punctuation {
    color: purple;
}
.comment {
    color: grey;
}
.codeExample {
    margin: 2em auto;
    width: 90%;
    min-width: 250px;
    min-height: 80px;
    overflow: auto;
    border-left: 5px solid yellow;
    background-color: rgb(201, 201, 201);
}
.codeExample code {
    white-space: pre;
    font-weight: 600;
    font-size: .8em;
    font-family: "Audiowide";
    letter-spacing: 2px;
    color: var(--black);
}

@media (min-width: 1000px) {
    .codeExample code{
        font-size: .7em;
    }
}