@use "../_global" as *;
@use "../_mixin" as *;
.formWrapper {
  //@include shadowSm;
  //width: 100%;
  height: 100%;
  max-width: 750px;
  margin: auto;
  border-radius: 1em;
}
.form {
  //margin: auto;
  width: 100%;
  padding: 1em;
  letter-spacing: 2px;
  background-color: var(--darkModeBg);
  box-shadow: 0px 0px 3px var(--darkModeTxtClr);
  border-radius: .5em;
  hr {
    color: var(--jsThemeClr);
    box-shadow: 0px 2px 3px var(--black);
    height: 3px;
  }
  button {
    cursor: pointer;
    margin: 2em auto;
    margin-top: 3em;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    color: var(--txtChange);
    border: none;
    padding: 0.5em 1em;
    background-color: green;
    border-radius: .5em;
  }
}
.newEmployeeForm {
  margin: 2em auto;
  max-width: 750px;
  border-radius: 0.5em;
  //box-shadow: 0px 0px 2px var(--darkModeTxtClr);
  legend {
    margin: auto;
    padding: 0 0.75em;
    font-size: 1.25em;
    font-weight: 600;
  }
}
.btn {
  @include darkMode;
  display: block;
  width: calc(7.5vw + 8rem);
  padding: 0.4rem 0.5rem;
  font-family: "Audiowide";
  font-size: 14px;
  font-weight: 600;
  color: purple;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.25rem;
  border: none;
  background-color: var(--bgFilterDrk);
  border-radius: 1rem;
  //text-shadow: 0px 0px 2px var(--white);
}
.btn:hover {
  background-color: purple;
  color: white;
  box-shadow: none;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
  width: 100%;
  label {
    color: var(--darkModeTxtClr);
    padding: 0.25em 0;
    font-size: 0.8em;
    min-width: 35%;
    text-align: left;
  }
  input {
    width: 100%;
    height: 40px;
    padding: 0.25rem;
    font-size: .8em;
    border: none;
    border-bottom: 2px solid var(--darkModeTxtClr);
    background-color: rgb(230, 230, 230);
  }
}

// Short Profile
#obj {
  width: 80%;
  //padding: 1em;
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  //text-shadow: 0px 0px 4px black;
  letter-spacing: 2px;
  //background-image: url("img/background_2.png");
  background-size: cover;
  //background-color: var(--bgFilterDrk);
  margin-bottom: calc(1vw + 0.75rem);
  pre {
    width: 90%;
    table {
      margin: auto;
      background-color: none;
      border: none;
      thead {
        tr {
          th {
            padding: 15px;
          }
        }
      }
    }
  }
}
.templates-document {
  width: 900px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  margin: auto;
  margin-bottom: 50px;
}

@media screen and (min-width: 310px) {
}
@media screen and (min-width: 400px) {
}
@media screen and (min-width: 550px) {
  .form-box {
    flex-direction: row;
  }
}
@media screen and (min-width: 700px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1200px) {
}
