@use "../global" as *;
@use "../_mixin" as *;

.tableBox {
  margin: auto;
  width: 100%;
}
#fullTechTable {
  display: none;
}
#fullOfficeTable {
  display: none;
}
#fullManagementTable {
  display: none;
}
/*
.tableBox{
  //-ms-overflow-style: none;
        //scrollbar-width: none;
        //overflow-y: scroll;
}
.tableBox::-webkit-scrollbar {
  //display: none;
}

*/
.allTables {
  margin-top: 7em;
}

.programTable {
  color: var(--darkModeTxtClr);
  margin-bottom: 50px;
  //overflow: scroll;
  //background-color: rgba(255, 255, 255, 0.8);
  //box-shadow: 0px 0px 3px var(--darkModeTxtClr);
  //border-radius: .5em;
  table {
    max-width: 700px;
    margin: auto;
    padding: 1rem;
    border-collapse: collapse;
    caption {
      font-size: 1.75em;
      font-weight: 600;
      letter-spacing: 2px;
      margin-bottom: .5em;
    }
    thead {
      th {
        width: 25%;
        padding: .5rem 1rem;
        text-align: left;
      }
      th:first-child {
        text-align: center;
        width: 60px;
      } 
    }
    tbody {
      tr td {
        padding: .5rem 1rem;
        min-height: 50px;
        font-size: .8em;
        text-align: left;
      }
      tr td:first-child {
        text-align: center;
        
      }
      tr td a {
        display: block;
        width: 100%;
      }
      
    }
  }
}


.delete {
  text-align: center;
}

.dangerBtn {
  padding: 0.5rem 1rem;
  background-color: red;
  color: white;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}
