@use "../global" as *;
@use "../_mixin" as *;

.tableBox {
  margin: auto;
  width: 100%;
}
/*
.tableBox{
  //-ms-overflow-style: none;
        //scrollbar-width: none;
        //overflow-y: scroll;
}
.tableBox::-webkit-scrollbar {
  //display: none;
}

*/

.programTables {
  margin: auto;
  width: 100%;
  max-width: 900px;
  height: 400px;
  padding: 0.5rem;
  color: white;
  margin-bottom: 50px;
  overflow: scroll;
  background-color: var(--darkModeBg);
  box-shadow: 0px 0px 3px var(--darkModeTxtClr);
  border-radius: .5em;
  table {
    width: 100%;
    margin: auto;
    color: var(--darkModeTxtClr);
    padding: 1rem;
    border-collapse: collapse;
    display: block;
    thead {
      th {
        padding: 0.5rem;
        text-align: left;
      }
      th:first-child, th:last-child {
        text-align: center;
      }
    }
    tbody {
      tr td {
        min-width: 10em;
        padding: .5em .25em;
        min-height: 50px;
        font-size: .8em;
        text-align: left;
      }
      tr td:first-child {
        text-align: center;
      }
      tr td a {
        display: block;
        margin: auto;
        max-width: 50px;
      }
      tr:nth-child(odd) {
        background-color: rgb(77, 77, 77);
      }
    }
  }
}
.delete {
  text-align: center;
}

.dangerBtn {
  padding: 0.5rem 1rem;
  background-color: red;
  color: white;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
}

.initBtn {
  margin: 2em 0;
  max-width: 350px;
  button {
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
    padding: .5em;
    background-color: green;
    font-size: .8em;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    border-radius: .25em;
  }
}