@use "../global" as *;
@use "../_mixin" as *;

.section {
  color: var(--darkModeTxtClr);
}
.form-modal {
  display: none;
}

#theProgram {
  position: relative;
  .programListItem {
    list-style: none;
    ul {
      list-style: none;
      }
      .addBtn {
        //width: 200px;
        display: block;
        margin-bottom: 5px;
        button {
          cursor: pointer;
          display: block;
          width: 100%;
          padding: .25em;
          border: none;
          outline: none;
          background-color: green;
        }
      }
      .fullListBtn {
        button {
          background-color: lightseagreen;
        }
      }
    
  }
  .dashboard {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
    li p {
      margin-bottom: .25em;
      text-align: center;
    }
  }
  .allTables {
    margin: 1em 0;
  }
}

/*
#employeeForm-modal {
  display: none;
}
*/

#newWorkOrder-modal {
  //display: block;
  max-width: 1000px;
}